extends /assets/tmpl/moc/guest/_layout.pug


block content
    include /assets/tmpl/elements/6.3.login.pug
    .ec-role
        .ec-pageHeader
            h1 ログイン
        .ec-off2Grid
            .ec-off2Grid__cell
                +ec-login


