include ./11.3.headerNavi.pug

mixin ec-headerRole
  +b.ec-headerRole
    +e.title: +ec-headerTitle

mixin ec-headerTitle
  +b.ec-headerTitle
    +e.subtitle
      | このデモサイトは
      a(href="#") さくらのクラウド
      | で稼働しています。
    +e.title: h1: a(href="/moc/") EC-CUBE4 DEMO SHOP

