include ./4.1.icon.pug

mixin ec-headerRole
    +b.ec-headerRole
        +e.title: +ec-headerTitle
        +e.cart: +ec-headerCart
        +e.search: +ec-headerSearch
        +e.nav: +ec-headerNav
        +e.itemnav: +ec-itemNav

mixin ec-headerTitle
    +b.ec-headerTitle
        +e.subtitle
            | このデモサイトは
            a(href="") さくらのクラウド
            | で稼働しています。
        +e.title: h1: a(href="/moc/") EC-CUBE3 DEMO SHOP
mixin ec-headerCart
    .ec-cartNavi
        .ec-cartNavi__icon
        .ec-cartNavi__badge 1
        .ec-cartNavi__label
            | 合計
            .ec-cartNavi__price ¥1920
mixin ec-headerSearch
    .ec-select
        select
            option hoge
    .ec-input
        input(type=text)
mixin ec-headerNav
    +b.ec-headerNav
        +e.item
            a(href="/moc/guest/register").ec-icon
                svg(viewbox='0 0 360 360')
                    circle.icon-bg(cx='180', cy='179.85', r='155')
                    path.icon-with-bg(d='M253.204,176.911v73.204c0,3.391-1.188,6.271-3.557,8.644c-2.373,2.373-5.256,3.558-8.645,3.558H118.997    c-3.391,0-6.271-1.185-8.643-3.558c-2.373-2.372-3.559-5.253-3.559-8.644v-73.204c0-3.388,1.186-6.27,3.559-8.642    c2.371-2.371,5.252-3.559,8.643-3.559h4.066v-24.401c0-15.589,5.592-28.977,16.775-40.161    c11.186-11.184,24.57-16.776,40.162-16.776c15.588,0,28.977,5.592,40.16,16.776c11.184,11.185,16.775,24.572,16.775,40.161v24.401    h4.066c3.389,0,6.271,1.188,8.645,3.559C252.016,170.641,253.204,173.523,253.204,176.911z M147.463,164.71h65.072v-24.401    c0-8.98-3.178-16.649-9.533-23.003c-6.354-6.355-14.023-9.532-23.002-9.532c-8.982,0-16.65,3.177-23.004,9.532    c-6.355,6.354-9.533,14.023-9.533,23.003V164.71z')
                span 新規会員登録
        +e.item
            a(href="/moc/guest/login").ec-icon
                svg(viewbox='0 0 360 360')
                    circle.icon-bg(cx='180', cy='179.85', r='155')
                    path.icon-with-bg(d='M253.204,176.911v73.204c0,3.391-1.188,6.271-3.557,8.644c-2.373,2.373-5.256,3.558-8.645,3.558H118.997    c-3.391,0-6.271-1.185-8.643-3.558c-2.373-2.372-3.559-5.253-3.559-8.644v-73.204c0-3.388,1.186-6.27,3.559-8.642    c2.371-2.371,5.252-3.559,8.643-3.559h4.066v-24.401c0-15.589,5.592-28.977,16.775-40.161    c11.186-11.184,24.57-16.776,40.162-16.776c15.588,0,28.977,5.592,40.16,16.776c11.184,11.185,16.775,24.572,16.775,40.161v24.401    h4.066c3.389,0,6.271,1.188,8.645,3.559C252.016,170.641,253.204,173.523,253.204,176.911z M147.463,164.71h65.072v-24.401    c0-8.98-3.178-16.649-9.533-23.003c-6.354-6.355-14.023-9.532-23.002-9.532c-8.982,0-16.65,3.177-23.004,9.532    c-6.355,6.354-9.533,14.023-9.533,23.003V164.71z')
                span お気に入り
        +e.item
            a(href="/moc/guest/login").ec-icon
                svg(viewbox='0 0 360 360')
                    circle.icon-bg(cx='180', cy='179.85', r='155')
                    path.icon-with-bg(d='M253.204,176.911v73.204c0,3.391-1.188,6.271-3.557,8.644c-2.373,2.373-5.256,3.558-8.645,3.558H118.997    c-3.391,0-6.271-1.185-8.643-3.558c-2.373-2.372-3.559-5.253-3.559-8.644v-73.204c0-3.388,1.186-6.27,3.559-8.642    c2.371-2.371,5.252-3.559,8.643-3.559h4.066v-24.401c0-15.589,5.592-28.977,16.775-40.161    c11.186-11.184,24.57-16.776,40.162-16.776c15.588,0,28.977,5.592,40.16,16.776c11.184,11.185,16.775,24.572,16.775,40.161v24.401    h4.066c3.389,0,6.271,1.188,8.645,3.559C252.016,170.641,253.204,173.523,253.204,176.911z M147.463,164.71h65.072v-24.401    c0-8.98-3.178-16.649-9.533-23.003c-6.354-6.355-14.023-9.532-23.002-9.532c-8.982,0-16.65,3.177-23.004,9.532    c-6.355,6.354-9.533,14.023-9.533,23.003V164.71z')
                span ログイン

mixin ec-itemNav
    +b.UL.ec-itemNav
        +e.LI.item: a(href="/moc/") 新入荷
        +e.LI.item: a(href="/moc/") キッチンツール
        +e.LI.item: a(href="/moc/") インテリア
        +e.LI.item: a(href="/moc/") 照明
        +e.LI.item: a(href="/moc/") 雑貨・小物
        +e.LI.item: a(href="/moc/") お買い得品

