mixin ec-headerNaviRole
  +b.ec-headerNaviRole
    +e.left
      +e.search: +ec-headerSearch
      +e.navSP: +ec-headerNavSP
    +e.right
      +e.nav: +ec-headerNav
      +e.cart: +ec-headerCart

mixin ec-headerSearch
  +b.ec-headerSearch
    +e.category
      .ec-select
        select
          option 全ての商品
          option キッチンツール
    +e.keyword
      .ec-input
        input(type="search" placeholder="キーワードを入力")
        +e.BUTTON.keywordBtn(type="submit")
          .ec-icon
            img(src='/moc/icon/search-dark.svg', alt='')

mixin ec-headerNav
  +b.ec-headerNav
    +e.item
      a(href="/moc/guest/register")
        +e.I.itemIcon.fas.fa-shopping-cart
        +e.SPAN.link 新規登録
    +e.item
      a(href="/moc/guest/login")
        +e.I.itemIcon.fas.fa-heart
        span お気に入り
    +e.item
      a(href="/moc/guest/login")
        +e.I.itemIcon.fas.fa-lock
        span ログイン

mixin ec-headerNavSP
  +b.ec-headerNavSP
    //+e.item
    //  .ec-cartNaviSP
    //    a(href="/moc/guest/cart1").ec-cartNaviSP__icon.ec-icon--colored
    //      img(src='/moc/icon/cart-dark.svg', alt='')
    //    .ec-cartNaviSP__badge 1
    +e.item
      +e.A.itemMenu()
        span
        span
        span

mixin ec-headerUserNav
  +b.ec-headerUserNav
    +e.item
      a(href="/moc/guest/register").ec-icon
        img(src='/moc/icon/user.svg', alt='')
        span マイページ
    +e.item
      a(href="/moc/guest/login").ec-icon
        img(src='/moc/icon/favorite.svg', alt='')
        span お気に入り
    +e.item
      a(href="/moc/guest/login").ec-icon
        img(src='/moc/icon/login.svg', alt='')
        span ログアウト


mixin ec-headerCart
  .ec-cartNavi
    .ec-cartNavi__icon
      img(src='/moc/icon/cart-dark.svg', alt='cart')
    .ec-cartNavi__iconClose
      img(src='/moc/icon/cross-dark.svg', alt='close')
    .ec-cartNavi__badge 1
    .ec-cartNavi__label
      | 合計
      .ec-cartNavi__price ¥1920
  //.ec-cartNaviNull
  //  .ec-cartNaviNull__message
  //    p 現在カート内に
  //      br
  //      | 商品がございません。
  +b.ec-cartNaviIsset
    +e.cart
      +e.cartImage
        img(src='http://demo3.ec-cube.net/upload/save_image/0701104933_5593472d8d179.jpeg')
      +e.cartContent
        +e.cartContentTitle ミニテーブル
        +e.cartContentPrice ¥ 12,960
          +e.cartContentTax 税込
        +e.cartContentNumber 数量：1
    +e.action
      a.ec-blockBtn--action(href="/moc/guest/cart1") カートへ進む
      a.ec-blockBtn.ec-cartNavi--cancel キャンセル

mixin ec-headerCartNull
  .ec-cartNavi
    .ec-cartNavi__icon
      img(src='/moc/icon/cart.svg', alt='cart')
    .ec-cartNavi__iconClose
      img(src='/moc/icon/cross.svg', alt='close')
    .ec-cartNavi__badge 1
    .ec-cartNavi__label
      | 合計
      .ec-cartNavi__price ¥1920
  .ec-cartNaviNull
    .ec-cartNaviNull__message
      p 現在カート内に
        br
        | 商品がございません。
  //+b.ec-cartNaviIsset
  //  +e.cart
  //    +e.cartImage
  //      img(src='http://demo3.ec-cube.net/upload/save_image/0701104933_5593472d8d179.jpeg')
  //    +e.cartContent
  //      +e.cartContentTitle ミニテーブル
  //      +e.cartContentPrice ¥ 12,960
  //        +e.cartContentTax 税込
  //      +e.cartContentNumber 数量：1
  //  +e.action
  //    a.ec-blockBtn--action(href="/moc/guest/cart1") カートへ進む
  //    a.ec-blockBtn キャンセル