include ./4.1.icon.pug

mixin ec-headerNaviRole
  +b.ec-headerNaviRole
    +e.search.is_inDrawer: +ec-headerSearch
    +e.nav.is_inDrawer: +ec-headerNav

mixin ec-headerSearch
  +b.ec-headerSearch
    +e.category
      .ec-select
        select
          option 全ての商品
          option キッチンツール
    +e.keyword
      .ec-input
        input(type="search" placeholder="キーワードを入力")
        +e.BUTTON.keywordBtn(type="submit")
          .ec-icon
            img(src='/moc/icon/search-dark.svg', alt='')

mixin ec-headerNav
  +b.ec-headerNav
    +e.item
      a(href="/moc/guest/register").ec-icon
        img(src='/moc/icon/user.svg', alt='')
        span 新規会員登録
    +e.item
      a(href="/moc/guest/login").ec-icon
        img(src='/moc/icon/favorite.svg', alt='')
        span お気に入り
    +e.item
      a(href="/moc/guest/login").ec-icon
        img(src='/moc/icon/login.svg', alt='')
        span ログイン

mixin ec-headerUserNav
  +b.ec-headerUserNav
    +e.item
      a(href="/moc/guest/register").ec-icon
        img(src='/moc/icon/user.svg', alt='')
        span マイページ
    +e.item
      a(href="/moc/guest/login").ec-icon
        img(src='/moc/icon/favorite.svg', alt='')
        span お気に入り
    +e.item
      a(href="/moc/guest/login").ec-icon
        img(src='/moc/icon/login.svg', alt='')
        span ログアウト