mixin ec-footerRole
    .ec-footerRole
        .ec-footerRole__inner
            +ec-footerNav
            +ec-footerTitle

mixin ec-footerNav
    +b.UL.ec-footerNavi
        +e.LI.link: a(href="/moc/guest/about") 当サイトについて
        +e.LI.link: a(href="/moc/guest/privacy") プライバシーポリシー
        +e.LI.link: a(href="") 特定商取引法に基づく表記
        +e.LI.link: a(href="") お問い合わせ

mixin ec-footerTitle
    +b.ec-footerTitle
        +e.logo
            a(href="") EC-CUBE3 DEMO SHOP
        .e.copyright copyright (c) EC-CUBE3 DEMO SHOP all rights reserved.
