
mixin ec-cateoryNaviRole
  +b.ec-cateoryNaviRole.is_inDrawer: +ec-itemNav

mixin ec-itemNav
  +b.ec-itemNav
    +e.UL.nav
      li
        a(href="#") 新入荷
      li
        a(href="#") インテリア
      li
        a(href="#") 照明
      li
        a(href="#") 雑貨・小物
      li
        a(href="#") お買い得品
      li
        a(href="#") キッチンツール
        ul
          li
            a(href="#") キッチン小物
          li
            a(href="#") 調理器具
            ul
              li
                a(href="#") フライパン
              li
                a(href="#") 鍋
          li
            a(href="#") 食器
            ul
              li
                a(href="#") お皿
                ul
                  li
                    a(href="#") プレート

