
mixin ec-cateoryNaviRole
  +b.ec-cateoryNaviRole.is_inDrawer: +ec-itemNav


mixin ec-itemNav
  +b.UL.ec-itemNav
    +e.LI.item: a(href="/moc/guest/search") 新入荷
    +e.LI.item
      a(href="/moc/guest/search") キッチンツール
      ul.ec-itemNavAccordion
        li.ec-itemNavAccordion__item
          a(href="/moc/guest/search") キッチン小物
        li.ec-itemNavAccordion__item
          a(href="/moc/guest/search") 調理器具
        li.ec-itemNavAccordion__item
          a(href="/moc/guest/search") 食器
    +e.LI.item: a(href="/moc/guest/search") インテリア
    +e.LI.item: a(href="/moc/guest/search") 照明
    +e.LI.item: a(href="/moc/guest/search") 雑貨・小物
    +e.LI.item: a(href="/moc/guest/search") お買い得品

