
mixin ec-cateoryNaviRole
  +b.ec-cateoryNaviRole.is_inDrawer: +ec-itemNav


mixin ec-itemNav
  +b.UL.ec-itemNav
    +e.LI.item: a(href="/moc/guest/search") 新入荷
    +e.LI.item
      a(href="/moc/guest/search") 第１階層
      ul.ec-itemNavAccordion
        li.ec-itemNavAccordion__item
          a(href="/moc/guest/search") 第２階層
        li.ec-itemNavAccordion__item
          a(href="/moc/guest/search") 第２階層
          ul.ec-itemNavAccordion
            li.ec-itemNavAccordion__item
              a(href="/moc/guest/search") 第3階層
            li.ec-itemNavAccordion__item
              a(href="/moc/guest/search") 第3階層
            li.ec-itemNavAccordion__item
              a(href="/moc/guest/search") 第3階層
              ul.ec-itemNavAccordion
                li.ec-itemNavAccordion__item
                  a(href="/moc/guest/search") 第4階層
                li.ec-itemNavAccordion__item
                  a(href="/moc/guest/search") 第4階層
                li.ec-itemNavAccordion__item
                  a(href="/moc/guest/search") 第4階層

    +e.LI.item: a(href="/moc/guest/search") インテリア
    +e.LI.item: a(href="/moc/guest/search") 照明
    +e.LI.item: a(href="/moc/guest/search") 雑貨・小物
    +e.LI.item: a(href="/moc/guest/search") お買い得品

