
mixin ec-categoryNaviRole
  +b.ec-cateoryNaviRole: +ec-itemNav

mixin ec-itemNav
  +b.ec-itemNav
    +e.UL.nav
      li
        a(href="#") 新商品
        ul
          li
            a(href="#") ジェラート
            ul
              li
                a(href="#") 彩のジェラート
                ul
                  li
                    a(href="#") CUBE
          li
            a(href="#") アイスサンド
            ul
              li
                a(href="#") フルーツ
          li
            a(href="#") カテゴリ1-3
      li
        a(href="#") ジェラート

      li
        a(href="#") アイスサンド

