mixin ec-sliderRole
    .ec-sliderRole
        .main_visual
            .item
                img(src='http://demo3.ec-cube.net//template/default/img/top/mv01.jpg')
            .item
                img(src='http://demo3.ec-cube.net//template/default/img/top/mv02.jpg')
            .item
                img(src='http://demo3.ec-cube.net//template/default/img/top/mv03.jpg')

mixin ec-sliderItemRole
    .ec-sliderItemRole
        .item_visual
            .item
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd571479bf5.jpeg')
            .item
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd57147dfac.jpeg')
            .item
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd571483cad.jpeg')
            .item
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd5714889ef.jpeg')
        .item_nav
            .slideThumb
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd571479bf5.jpeg')
            .slideThumb
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd57147dfac.jpeg')
            .slideThumb
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd571483cad.jpeg')
        .item_nav
            .slideThumb
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd5714889ef.jpeg')
            .slideThumb
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd571483cad.jpeg')
            .slideThumb
                img(src='http://demo3.ec-cube.net/upload/save_image/0424103828_58fd5714889ef.jpeg')
