mixin ec-sliderRole
    .ec-sliderRole
        .main_visual
            .item
                img(src='http://demo3.ec-cube.net//template/default/img/top/mv01.jpg')
            .item
                img(src='http://demo3.ec-cube.net//template/default/img/top/mv02.jpg')
            .item
                img(src='http://demo3.ec-cube.net//template/default/img/top/mv03.jpg')
