mixin ec-eyecatchRole
    .ec-eyecatchRole
        +b.ec-grid2
            +e.cell
                +b.ec-splitImg
                    +e.item: img(src="http://demo3.ec-cube.net/template/default/img/top/img01.jpg")
                    +e.item: img(src="http://demo3.ec-cube.net/template/default/img/top/img02.jpg")
            +e.cell
                .ec-eyecatchRole__intro
                    p.ec-eyecatchRole__introTitle  新入荷商品特集
                    p.ec-heading-bold この季節にぴったりな商品をご用意しました
                    p.ec-font-size-4 さわやかな日差しが過ごしやすい季節。心地よいくらしのための、お部屋のアクセントになるおすすめのファブリックやグッズをご紹介します。
                    p: a.ec-inlineBtn--primary 一覧を見る
                            span.ec-icon
                                svg(viewbox="0 0 360 360")
                                    path(d="M250,179.85c0,2.086-0.805,3.931-2.405,5.531L135.499,297.446c-1.604,1.604-3.45,2.404-5.532,2.404   c-2.086,0-3.932-0.8-5.533-2.404l-12.028-12.024c-1.605-1.601-2.405-3.444-2.405-5.53c0-2.082,0.8-3.927,2.405-5.531l94.537-94.51   l-94.537-94.509c-1.605-1.601-2.405-3.446-2.405-5.531c0-2.082,0.8-3.927,2.405-5.531l12.028-12.024   c1.601-1.601,3.446-2.405,5.533-2.405c2.082,0,3.928,0.804,5.532,2.405l112.096,112.063C249.196,175.923,250,177.768,250,179.85z")

mixin ec-eyecatchTop
    +b.ec-splitImg
        +e.item: img(src="http://demo3.ec-cube.net/template/default/img/top/img01.jpg")
        +e.item: img(src="http://demo3.ec-cube.net/template/default/img/top/img02.jpg")
