mixin ec-eyecatchRole
    .ec-eyecatchRole
        img.ec-eyecatchRole__image(src="/moc/image/img_about.jpg")
        .ec-eyecatchRole__intro
            p.ec-eyecatchRole__introEnTitle CUBE GELATO ICE
            p.ec-eyecatchRole__introTitle  彩のジェラート"CUBE"をご堪能ください。
            p.ec-eyecatchRole__introDescriptiron
                | ジェラートとはイタリアン・アイスクリームのことで、
                | 一般的なアイスクリームに比べて、乳脂肪分が低く果物を使っているのが特徴です。
                | 当店では厳選した旬の果物のおいしさをそのままジェラートに仕上げました。
                | 風味が濃厚でありながら、甘さ控えめでヘルシーなキューブジェラートをご堪能ください。
                | さらにジェラートの製法を活かした、アイスキャンディ・アイスサンドも販売しております。
            a.ec-blockBtn--top 商品一覧へ