mixin ec-eyecatchRole
    +b.ec-eyecatchRole
        +e.IMG.__image(src="/moc/image/img_about.jpg")
        +e.__intro
            +e.P.__introEnTitle CUBE GELATO ICE
            +e.P.__introTitle  彩のジェラート"CUBE"をご堪能ください。
            +e.P.__introDescriptiron
                | ジェラートとはイタリアン・アイスクリームのことで、
                | 一般的なアイスクリームに比べて、乳脂肪分が低く果物を使っているのが特徴です。
                | 当店では厳選した旬の果物のおいしさをそのままジェラートに仕上げました。
                | 風味が濃厚でありながら、甘さ控えめでヘルシーなキューブジェラートをご堪能ください。
                | さらにジェラートの製法を活かした、アイスキャンディ・アイスサンドも販売しております。
            a.ec-blockBtn--top(href="/moc/guest/search/") 商品一覧へ