mixin ec-topicRole
    +b.ec-topicRole
        .ec-secHeading
            span.ec-secHeading__en TOPICS
            span.ec-secHeading__line
            span.ec-secHeading__ja 特集
        +e.__list
            +e.__listItem
                p hogehgoe
            +e.__listItem
                p hogehgoe