mixin ec-topicRole
    .ec-topicRole
        .ec-secHeading
            span.ec-secHeading__en TOPIC
            span.ec-secHeading__line
            span.ec-secHeading__ja 特集
        .ec-topicRole__list
            .ec-topicRole__listItem
                p hogehgoe
            .ec-topicRole__listItem
                p hogehgoe