mixin ec-newItemRole
    +b.ec-newItemRole
        .ec-secHeading
            span.ec-secHeading__en NEW ITEM
            span.ec-secHeading__line
            span.ec-secHeading__ja 新着商品
        +e.__list
            +e.__listItem
                p hogehgoe
            +e.__listItem
                p hogehgoe