mixin ec-newItemRole
    +b.ec-newItemRole
        +e.__list
            +e.__listItem
                +e.__listItemHeading.ec-secHeading--tandem
                    span.ec-secHeading__en NEW ITEM
                    span.ec-secHeading__line
                    span.ec-secHeading__ja 新着商品
                    a(href="/moc/guest/search/") more
            +e.__listItem
                a(href="/moc/guest/item/")
                    img(src="/moc/image/img_item01_01.jpg")
                    +e.P.__listItemTitle 彩のジェラート"CUBE"
                    +e.P.__listItemPrice ￥1,200(税込)
            +e.__listItem
                a(href="/moc/guest/item/")
                    img(src="/moc/image/img_item01_02.jpg")
                    +e.P.__listItemTitle チェリーアイスサンド
                    +e.P.__listItemPrice ￥800(税込)
            +e.__listItem
                a(href="/moc/guest/item/")
                    img(src="/moc/image/img_item01_03.jpg")
                    +e.P.__listItemTitle タイトル
                    +e.P.__listItemPrice ￥600(税込)