mixin ec-categoryRole
    +b.ec-categoryRole
        .ec-role
            .ec-secHeading
                span.ec-secHeading__en CATEGORY
                span.ec-secHeading__line
                span.ec-secHeading__ja カテゴリ
            +e.__list
                +e.__listItem
                    img(src="http://placehold.it/300x150/ccc/fff/&text=hoge")
                +e.__listItem
                    img(src="http://placehold.it/300x150/ccc/fff/&text=hoge")
                +e.__listItem
                    img(src="http://placehold.it/300x150/ccc/fff/&text=hoge")