mixin ec-categoryRole
    +b.ec-categoryRole
        .ec-secHeading
            span.ec-secHeading__en CATEGORY
            span.ec-secHeading__line
            span.ec-secHeading__ja カテゴリ
        +e.__list
            +e.__listItem
                p hogehgoe
            +e.__listItem
                p hogehgoe