mixin ec-newsRole
    +b.ec-newsRole
        .ec-secHeading
            span.ec-secHeading__en NEWS
            span.ec-secHeading__line
            span.ec-secHeading__ja 新着情報
        +e.__news
            - for (var i = 0; i < 3; i++)
                +e.__newsItem
                    +e.newsDate 2016/09/29
                    +e.newsColumn
                        +e.newsTitle NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。NEWSタイトルが入ります。
                        +e.newsClose
                            +e.A.newsCloseBtn
                                i.fas.fa-angle-down
                    +e.newsDescription
                        | 詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。詳細テキストが入ります。