mixin ec-searchnavRole__topicpath
    +b.ec-searchnavRole
        +e.topicpath
        +b.OL.ec-topicpath
            +e.LI.item: a(href="/moc/guest/search") 全て
            li.ec-topicpath__divider |
            li.ec-topicpath__item--active: a(href="/moc/guest/search") 生活雑貨

mixin ec-searchnavRole__info
    +b.ec-searchnavRole
        +e.infos
            +e.counter
                +b.SPAN.text--bold 8件
                span の商品が見つかりました
            +e.actions
                .ec-select
                    select
                        option 15件
                    select
                        option 価格が低い順
