mixin ec-shelfGrid
    +b.UL.ec-shelfGrid
        each item in ["","","","","","","",""]
            +e.LI.item: a(href="/moc/guest/item")
                img(src="http://demo3.ec-cube.net/upload/save_image/0701121841_55935c114e715.jpeg")
                p クラフトノート
                p ¥ 1,296
