mixin ec-shelfGrid
    +b.UL.ec-shelfGrid
        -for (var x = 0; x < 20; x++)
            +e.LI.item: a(href="/moc/guest/item")
                img(src="http://demo3.ec-cube.net/upload/save_image/0701121841_55935c114e715.jpeg")
                +e.P.title クラフトノート
                +e.P.plice ¥ 1,296

mixin ec-shelfGridCenter
    +b.UL.ec-shelfGridCenter
        -for (var x = 0; x < 20; x++)
            +e.LI.item: a(href="/moc/guest/item")
                img(src="http://demo3.ec-cube.net/upload/save_image/0701121841_55935c114e715.jpeg")
                +e.P.title クラフトノート
                +e.P.plice ¥ 1,296

mixin ec-shelfGridSystem
    +b.UL.ec-shelfGrid
        -for (var x = 0; x < 20; x++)
            +e.LI.item
                a(href="/moc/guest/item")
                    img(src="http://demo3.ec-cube.net/upload/save_image/0701121841_55935c114e715.jpeg")
                    +e.P.title クラフトノート
                    +e.P.plice ¥ 1,296
                form
                    .ec-productRole__actions
                        .ec-select
                            select
                                option(value="0") 選択してください
                                option(value="1") パイナップル
                                option(value="2") スイカ
                                option(value="3") パンプキン
                                option(value="4") チョコレート
                                option(value="5") ブルーベリー
                        .ec-numberInput
                            span 数量
                            input.quantity.form-control(type="number" name="quantity")
                        .ec-productRole__btn
                            button.ec-blockBtn--action.add-cart カートに入れる
