mixin ec-pagerRole
    .ec-pagerRole
        ul.ec-pager
            li.ec-pager__item: a(href="#") 前へ
            li.ec-pager__item: a(href="#") 1
            li.ec-pager__item--active: a(href="#") 2
            li.ec-pager__item: a(href="#") 3
            li.ec-pager__item: a(href="#") 次へ