mixin ec-productRole
    +b.ec-productRole
        .ec-grid2
            .ec-grid2__cell
                +e.img
                    img(src="http://demo3.ec-cube.net/upload/save_image/0701115935_5593579758957.jpeg")
            .ec-grid2__cell
                +e.profile
                    +e.title
                        h2.ec-headingTitle カッティングボード
                    +e.price
                        +b.ec-price
                            +e.SPAN.unit ¥
                            +e.SPAN.price 4,860
                            +e.SPAN.tax 税込
                    +e.code 商品コード： s_0009
                    +e.category
                        div 関連カテゴリ
                        ul
                            li: a(href="") キッチンツール
                            li
                                a(href="") キッチンツール
                                span ＞
                                a(href="") 調理器具
                    +e.actions
                        .ec-numberInput
                            span 数量
                            input(type="number",value="1")
                    +e.btn: a(href="/moc/guest/cart1").ec-blockBtn--action カートに入れる
                    +e.btn: a(href="/moc/guest/login").ec-blockBtn--cancel お気に入りに追加
                    +e.description 匂いにも菌にも強い、天然の木を使ったカッティングボード。

