include ./7.3.cart.pug
mixin ec-alert-warning
    +b.ec-alert-warning
        +e.text
            +e.icon
                img(src='/moc/icon/exclamation-white.svg', alt='')
            | 選択された商品(ガラステーブル)の在庫が不足しております。
            br
            | 一度に在庫数を超える購入はできません。

mixin ec-alert-warningEnpty
    +b.ec-alert-warning
        +e.text
            +e.icon
                img(src='/moc/icon/exclamation-white.svg', alt='')
            | 現在カート内に商品はございません。

mixin ec-cartRole
    +b.ec-cartRole
        +e.progress
            +ec-progress
        +e.cart
            +e.totalText
                p 商品の合計金額は「
                    span.ec-font-bold ¥ 1,296
                    | 」です。
            +ec-cartTable
        +e.actions
            +e.total 合計：
                +e.SPAN.totalAmount ￥1,296
            a(href="/moc/guest/cart2").ec-blockBtn--action レジに進む
            a(href="").ec-blockBtn--cancel お買い物を続ける

mixin ec-cartUserRole
    +b.ec-cartRole
        +e.progress
            +ec-userProgress
        +e.totalText
            p 商品の合計金額は「
                span.ec-font-bold ¥ 1,296
                | 」です。
        +e.cart
            +ec-cartTable
        +e.actions
            +e.total 合計：
                +e.SPAN.totalAmount ￥1,296
            a(href="/moc/guest/cart2").ec-blockBtn--action レジに進む
            a(href="").ec-blockBtn--cancel お買い物を続ける


mixin ec-cartEmptyRole
    +b.ec-cartRole
        +e.progress
            +ec-progress

mixin ec-cartUserEmptyRole
    +b.ec-cartRole
        +e.progress
            +ec-userProgress


mixin ec-cartTable
    .ec-cartTable
        +ec-cartHeader
        +ec-cartRow

mixin ec-cartHeader
    ol.ec-cartHeader
        li.ec-cartHeader__label 削除
        li.ec-cartHeader__label 商品内容
        li.ec-cartHeader__label 数量
        li.ec-cartHeader__label 小計

mixin ec-cartRow
    ul.ec-cartRow
        li.ec-cartRow__delColumn
            a.ec-icon
                img(src='/moc/icon/cross.svg', alt='')
        li.ec-cartRow__contentColumn
            .ec-cartRow__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701115551_559356b78ba67.jpeg")
            .ec-cartRow__summary
                .ec-cartRow__name アンティークポット
                .ec-cartRow__unitPrice ¥ 4,320
                .ec-cartRow__sutbtotalSP 小計：¥ 4,320
        li.ec-cartRow__amountColumn
            .ec-cartRow__amount 1
            .ec-cartRow__amountSP 数量：1
            .ec-cartRow__amountUpDown
                a.ec-cartRow__amountUpButton(href="#")
                    span.ec-cartRow__amountDownButton__icon
                        img(src='/moc/icon/minus-dark.svg', alt='')
                a.ec-cartRow__amountDownButton(href="#")
                    span.ec-cartRow__amountDownButton__icon
                        img(src='/moc/icon/plus-dark.svg', alt='')
        li.ec-cartRow__subtotalColumn
            .ec-cartRow__sutbtotal ¥ 4,320
