include ./7.3.cart.pug

mixin ec-cartRole
    +b.ec-cartRole
        +e.progress
            +ec-progress
        +e.cart
            +ec-cartTable
        +e.actions
            +e.total 合計： ￥1,296
            a(href="/moc/guest/cart2").ec-blockBtn--action レジに進む
            a(href="").ec-blockBtn--cancel お買い物を続ける


mixin ec-cartEmptyRole
    +b.ec-cartRole
        +e.progress
            +ec-progress


mixin ec-cartTable
    .ec-cartTable
        +ec-cartHeader
        +ec-cartRow

mixin ec-cartHeader
    ol.ec-cartHeader
        li.ec-cartHeader__label 削除
        li.ec-cartHeader__label 商品内容
        li.ec-cartHeader__label 数量
        li.ec-cartHeader__label 小計

mixin ec-cartRow
    ul.ec-cartRow
        li.ec-cartRow__delColumn
            span ☓
        li.ec-cartRow__contentColumn
            .ec-cartRow__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701115551_559356b78ba67.jpeg")
            .ec-cartRow__name アンティークポット
            .ec-cartRow__unitPrice ¥ 4,320
            .ec-cartRow__subtotal ¥ 4,320
        li.ec-cartRow__amountColumn
            .ec-cartRow__amount 1
            .ec-cartRow__amountUpDown - +
        li.ec-cartRow__subtotalColumn
            .ec-cartRow__sutbtotal ¥ 4,320


