mixin ec-orderRole
  +b.ec-orderRole
    +e.detail
      .ec-orderOrder
        .ec-definitions
          dt ご注文日時：
          dd 2017/01/20 12:29:01
        .ec-definitions
          dt ご注文番号：
          dd 544
        .ec-definitions
          dt ご注文状況：
          dd 注文受付
        ul.ec-borderedList
          li: .ec-imageGrid
            .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
            .ec-imageGrid__content
              p ホーローマグ
              p ¥ 1,728 x 1
          li: .ec-imageGrid
            .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
            .ec-imageGrid__content
              p ホーローマグ
              p ¥ 1,728 x 1
        div
          a.ec-inlineBtn 数量を変更または削除する
      .ec-orderDelivery
        .ec-rectHeading
          h2 配送情報
        .ec-orderDelivery__title お届け先
        .ec-orderDelivery__item
          ul.ec-borderedList
            li: .ec-imageGrid
              .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
              .ec-imageGrid__content
                p ホーローマグ
                p ¥ 1,728 x 1
            li: .ec-imageGrid
              .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
              .ec-imageGrid__content
                p ホーローマグ
                p ¥ 1,728 x 1
        .ec-orderDelivery__address
          p 後藤 知宏  (ゴトウ トモヒロ) 様
          p 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
          p 090-0090-0090
        .ec-orderDelivery__actions
          .ec-select
            label 配送方法
            select
              option サンプル業者
          .ec-select
            label 配送方法
            select
              option 指定なし
            label お届け時間
            select
              option 指定なし
        .ec-orderDelivery__edit
          a.ec-inlineBtn お届け先を追加する
      .ec-orderPayment
        .ec-rectHeading
          h2 お支払方法
        .ec-blockRadio
          label
            input(type="radio")
            span 郵便振替
          label
            input(type="radio")
            span 現金書留
          label
            input(type="radio")
            span 銀行振込
          label
            input(type="radio")
            span 代金引換
      .ec-orderConfirm
        .ec-rectHeading
          h2 お問い合わせ
        .ec-input
          textarea(rows=6)

mixin ec-orderInfo
  .ec-orderRole
    .ec-orderOrder
      .ec-definitions
        dt ご注文日時：
        dd 2017/01/20 12:29:01
      .ec-definitions
        dt ご注文番号：
        dd 544
      .ec-definitions
        dt ご注文状況：
        dd 注文受付
      .ec-orderOrder__items
        .ec-imageGrid
          .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
          .ec-imageGrid__content
            p ホーローマグ
            p ¥ 1,728 x 1

mixin ec-orderDelivery
  .ec-orderRole
    .ec-orderDelivery
      .ec-rectHeading
        h2 配送情報
      .ec-orderDelivery__title お届け先
      .ec-orderDelivery__items
        .ec-imageGrid
          .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
          .ec-imageGrid__content
            p ホーローマグ
            p ¥ 1,728 x 1
      .ec-orderDelivery__address
        p 後藤 知宏  (ゴトウ トモヒロ) 様
        p 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
        p 090-0090-0090
      .ec-definitions--soft
        dt 配送方法：
        dd サンプル業者（＋¥ 1,000）
      .ec-definitions--soft
        dt お届け日：
        dd 指定なし
      .ec-definitions--soft
        dt お届け時間：
        dd 指定なし
    .ec-cart
