mixin ec-orderRole
  +b.ec-orderRole
    +e.detail
      .ec-orderOrder
        ul.ec-borderedList
          li: .ec-imageGrid
            .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
            .ec-imageGrid__content
              p ホーローマグ
              p ¥ 1,728 x 1
                span.ec-imageGrid__contentTotal 小計：¥ 9,180
          li: .ec-imageGrid
            .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
            .ec-imageGrid__content
              p ホーローマグ
              p ¥ 1,728 x 1
                span.ec-imageGrid__contentTotal 小計：¥ 9,180
        .ec-inlineBtn 数量を変更または削除する
      +b.ec-orderAccount
        .ec-rectHeading
          h2 お客様情報

        +e.change
          a.ec-inlineBtn 変更
        +e.account
          p 球部 太郎 様
          p 〒123-1234　東京都千代田区神田神保町1-3-5
          p 000-0000-0000
        +e.account
          p eccube-sample@sample.com
          p ECCUBE株式会社
      .ec-orderDelivery
        .ec-rectHeading
          h2 配送情報
        .ec-orderDelivery__title お届け先
            .ec-orderDelivery__change
              a.ec-inlineBtn 変更
        .ec-orderDelivery__item
          ul.ec-borderedList
            li: .ec-imageGrid
              .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
              .ec-imageGrid__content
                p ホーローマグ
                p ¥ 1,728 x 1
                  span 小計：¥ 9,180
            li: .ec-imageGrid
              .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
              .ec-imageGrid__content
                p ホーローマグ
                p ¥ 1,728 x 1
                  span 小計：¥ 9,180
        .ec-orderDelivery__address
          p 球部 太郎  (キューブ タロウ) 様
          p 〒123-1234 東京都千代田区神田神保町1-3-5
          p 000-0000-0000
        .ec-orderDelivery__actions
          .ec-selects
            .ec-select
              label 配送方法
              select
                option サンプル業者
            .ec-select.ec-select__delivery
              label 配送方法
              select
                option 指定なし
            .ec-select.ec-select__time
              label お届け時間
              select
                option 指定なし
        .ec-orderDelivery__edit
          a.ec-inlineBtn(href="/moc/guest/cart4/add_address/") お届け先を追加する
      .ec-orderPayment
        .ec-rectHeading
          h2 お支払方法
        .ec-blockRadio
          label
            input(type="radio")
            span 郵便振替
          label
            input(type="radio")
            span 現金書留
          label
            input(type="radio")
            span 銀行振込
          label
            input(type="radio")
            span 代金引換
      .ec-orderConfirm
        .ec-rectHeading
          h2 お問い合わせ
        .ec-input
          textarea(rows=6 placeholder="お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)")
    .ec-orderRole__summary
      include /assets/tmpl/elements/7.3.cart.pug
      +ec-totalBox

mixin ec-orderInfo
  .ec-orderRole
    .ec-orderOrder
      .ec-orderOrder__items
        .ec-imageGrid
          .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
          .ec-imageGrid__content
            p ホーローマグ
            p ¥ 1,728 x 1

mixin ec-orderAccount
  .ec-orderRole
    .ec-orderAccount
      .ec-rectHeading
        h2 お客様情報
      +e.account
        p 後藤 知宏 様
        p 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
        p 090-0090-0090

mixin ec-orderDelivery
  .ec-orderRole
    .ec-orderDelivery
      .ec-rectHeading
        h2 配送情報
      .ec-orderDelivery__title お届け先
      .ec-orderDelivery__change
        a.ec-inlineBtn 変更

      .ec-orderDelivery__items
        .ec-imageGrid
          .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
          .ec-imageGrid__content
            p ホーローマグ
            p ¥ 1,728 x 1
      .ec-orderDelivery__address
        p 後藤 知宏  (ゴトウ トモヒロ) 様
        p 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
        p 090-0090-0090
      .ec-definitions--soft
        dt 配送方法：
        dd サンプル業者（＋¥ 1,000）
      .ec-definitions--soft
        dt お届け日：
        dd 指定なし
      .ec-definitions--soft
        dt お届け時間：
        dd 指定なし
    .ec-cart

mixin ec-orderAddAddress
  +b.ec-AddAddress
    +e.info
      p 各商品のお届け先を選択してください。(※数量の合計は、カゴの中の数量と合わせてください。)
    +e.add
      +e.item
        +e.itemThumb
          img(src="http://demo3.ec-cube.net/upload/save_image/0701121841_55935c114e715.jpeg")
        +e.itemtContent
          +e.itemtTitle 木製食器
          +e.itemtSize 120mm
          +e.itemtPrice 小計：¥14,400
          +e.itemtNumber 数量：1
      +e.select
        +e.selectAddress
          .ec-select
            label お届け先
            select
              option 球部　東京都千代田区神田神保町1-3-5
              option 球部　大阪府大阪市

        +e.selectNumber
          .ec-input
            label 数量
            input(type='number')

      +e.btn
        a.ec-inlineBtn(href="#") お届け先追加
    +e.actions
      .ec-off4Grid
        .ec-off4Grid__cell
          a.ec-blockBtn--action(href="/moc/guest/cart4/") 選択したお届け先に送る
          a.ec-blockBtn--cancel(href="/moc/guest/cart3/") 戻る