mixin ec-historyDetailRole
    .ec-orderRole
        .ec-orderRole__detail
            .ec-orderOrder
                .ec-definitions
                    dt ご注文日時：
                    dd 2017/01/20 12:29:01
                .ec-definitions
                    dt ご注文番号：
                    dd 544
                .ec-definitions
                    dt ご注文状況：
                    dd 注文受付
                .ec-orderOrder__items
                    .ec-imageGrid
                        .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
                        .ec-imageGrid__content
                            p ホーローマグ
                            p ¥ 1,728 x 1
            .ec-orderDelivery
                .ec-rectHeading
                    h2 配送情報
                .ec-orderDelivery__title お届け先
                .ec-orderDelivery__item
                    .ec-imageGrid
                        .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
                        .ec-imageGrid__content
                            p ホーローマグ
                            p ¥ 1,728 x 1
                .ec-orderDelivery__address
                    p 後藤 知宏  (ゴトウ トモヒロ) 様
                    p 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
                    p 090-0090-0090
                .ec-definitions--soft
                    dt 配送方法：
                    dd サンプル業者（＋¥ 1,000）
                .ec-definitions--soft
                    dt お届け日：
                    dd 指定なし
                .ec-definitions--soft
                    dt お届け時間：
                    dd 指定なし
            .ec-orderPayment
                .ec-rectHeading
                    h2 お支払方法
                p 支払方法： 郵便振替
            .ec-orderConfirm
                .ec-rectHeading
                    h2 お問い合わせ
                p 記載なし
            .ec-orderMails
                .ec-rectHeading
                    h2 メール配信履歴一覧
                .ec-orderMail
                    .ec-orderMail__time 2017/01/20 12:38:58
                    .ec-orderMail__link: a [EC-CUBE3 DEMO SHOP] ご注文ありがとうございます
                    pre.ec-orderMail__body
                        | 後藤 知宏 様
                        |
                        | この度はご注文いただき誠にありがとうございます。
                        | 下記ご注文内容にお間違えがないかご確認下さい。
                        |
                        | ************************************************
                        | ご請求金額
                        | ************************************************
                        |
                        | ご注文番号：544
                        | お支払い合計：¥ 2,728
                    p.ec-orderMail__close: a 閉じる

            a.ec-inlineBtn 戻る
        .ec-orderRole__summary
            .ec-totalBox
                dl.ec-totalBox__spec
                    dt 小計
                    dd ¥ 9,720
                dl.ec-totalBox__spec
                    dt 手数料
                    dd ¥ 0
                dl.ec-totalBox__spec
                    dt 送料
                    dd ¥ 1,000
                .ec-totalBox__total
                    | 合計
                    span.ec-totalBox__price ¥ 10,720
                    span.ec-totalBox__taxLabel 税込
                .ec-blockBtn--action 注文する

mixin ec-historyDetailMail
    .ec-orderRole
        .ec-orderMails
            .ec-rectHeading
                h2 メール配信履歴一覧
            .ec-orderMail
                .ec-orderMail__time 2017/01/20 12:38:58
                .ec-orderMail__link: a [EC-CUBE3 DEMO SHOP] ご注文ありがとうございます
                pre.ec-orderMail__body
                    | 後藤 知宏 様
                    |
                    | この度はご注文いただき誠にありがとうございます。
                    | 下記ご注文内容にお間違えがないかご確認下さい。
                    |
                    | ************************************************
                    | ご請求金額
                    | ************************************************
                    |
                    | ご注文番号：544
                    | お支払い合計：¥ 2,728
                p.ec-orderMail__close: a 閉じる

mixin ec-historyDetailMailHistory
    .ec-orderMail
        .ec-orderMail__time 2017/01/20 12:38:58
        .ec-orderMail__link: a [EC-CUBE3 DEMO SHOP] ご注文ありがとうございます
        pre.ec-orderMail__body
            | 後藤 知宏 様
            |
            | この度はご注文いただき誠にありがとうございます。
            | 下記ご注文内容にお間違えがないかご確認下さい。
            |
            | ************************************************
            | ご請求金額
            | ************************************************
            |
            | ご注文番号：544
            | お支払い合計：¥ 2,728
        p.ec-orderMail__close: a 閉じる
    .ec-orderMail.is-active
        .ec-orderMail__time 2017/01/20 12:38:58
        .ec-orderMail__link: a [EC-CUBE3 DEMO SHOP] ご注文ありがとうございます
        pre.ec-orderMail__body
            | 後藤 知宏 様
            |
            | この度はご注文いただき誠にありがとうございます。
            | 下記ご注文内容にお間違えがないかご確認下さい。
            |
            | ************************************************
            | ご請求金額
            | ************************************************
            |
            | ご注文番号：544
            | お支払い合計：¥ 2,728
            | ....
        p.ec-orderMail__close: a 閉じる
