mixin ec-addressRole
    .ec-addressRole
        .ec-addressRole__actions
            a(href="/moc/user/address/new/").ec-inlineBtn 新規お届け先を追加する

mixin ec-addressListOnly
    .ec-addressList
        .ec-addressList__item
            .ec-addressList__remove
            .ec-addressList__address
                div 後藤 知宏
                div 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
                div 090-0000-0000
            .ec-addressList__action
                a.ec-inlineBtn(href="/moc/user/address/edit/") 変更
mixin ec-addressList
    .ec-addressList
        each item in ["","","",""]
            .ec-addressList__item
                .ec-addressList__remove
                    .ec-icon
                        img(src='/moc/icon/cross.svg')
                .ec-addressList__address
                    div 後藤 知宏
                    div 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
                    div 090-0000-0000
                .ec-addressList__action
                    a.ec-inlineBtn(href="/moc/user/address/edit/") 変更
