mixin ec-passwordRole
    .ec-role
            .ec-pageHeader
                h1 パスワードの再発行
    +b.ec-forgotRole
        .ec-off1Grid
            .ec-off1Grid__cell
                +e.form
                    +e.intro
                        p.ec-para-nomal  ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。
                        p.ec-para-nomal  ※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。
                    .ec-borderedDefs
                        dl
                            dt
                                label.ec-label メールアドレス
                                    span.ec-required 必須
                            dd
                                .ec-input
                                    input(type="text")
        .ec-off4Grid
            .ec-off4Grid__cell
                a.ec-blockBtn--action(href="/moc/guest/forgot/complete") 次のページへ