mixin ec-passwordRole
    .ec-fogotRole
        .ec-pageHeader
            h1 パスワードの再発行
        .ec-off1Grid
            .ec-off1Grid__cell
                p ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。
                p ※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。
                .ec-borderedDefs
                    dl
                        dt
                            label.ec-label メールアドレス
                                span.ec-required 必須
                        dd
                            .ec-input
                                input(type="text")
        .ec-off4Grid
            .ec-off4Grid__cell
                .ec-blockBtn--action 次のページへ