mixin ec-registerRole
    .ec-registerRole
        .ec-pageHeader
            h1 新規会員登録
        +b.ec-off1Grid
            +e.cell
                .ec-borderedDefs
                    dl
                        dt
                            span.ec-label お名前
                            span.ec-required 必須
                        dd
                            .ec-halfInput
                                input(type="text")
                                input(type="text")
                    dl
                        dt
                            span.ec-label お名前(フリガナ)
                            span.ec-required 必須
                        dd
                            .ec-halfInput
                                input(type="text")
                                input(type="text")
                    dl
                        dt
                            span.ec-label 会社名
                            span.ec-required 必須
                        dd
                            .ec-halfInput
                                input(type="text")
                    dl
                        dt
                            span.ec-label 住所
                            span.ec-required 必須
                        dd
                            .ec-zipInput
                                span 〒
                                input(type="text")
                                span -
                                input(type="text")
                    dl
                        dt
                            span.ec-label 電話番号
                            span.ec-required 必須
                        dd
                            .ec-telInput
                                input(type="text")
                                span -
                                input(type="text")
                                span -
                                input(type="text")
                    dl
                        dt
                            span.ec-label FAX番号
                        dd
                            .ec-telInput
                                input(type="text")
                                span -
                                input(type="text")
                                span -
                                input(type="text")
                    dl
                        dt
                            span.ec-label メールアドレス
                            span.ec-required 必須
                        dd
                            .ec-input
                                input(type="text")
                            .ec-input
                                input(type="text")
                    dl
                        dt
                            span.ec-label パスワード
                            span.ec-required 必須
                        dd
                            .ec-input
                                input(type="text")
                            .ec-input
                                input(type="text")
                    dl
                        dt
                            span.ec-label 生年月日
                            span.ec-required 必須
                        dd
                            .ec-birth
                                select
                                    option ----
                                    option 1960
                                    option 1961
                                    option 1962
                                    option ...
                                span /
                                select
                                    option --
                                    option 01
                                    option 02
                                    option 03
                                    option ...
                                span /
                                select
                                    option --
                                    option 01
                                    option 02
                                    option 03
                                    option ...
                    dl
                        dt
                            span.ec-label 性別
                            span.ec-required 必須
                        dd
                            .ec-radio
                                label
                                    input(type="radio")
                                    span 男性
                                label
                                    input(type="radio")
                                    span 女性
                    dl
                        dt
                            span.ec-label 職業
                            span.ec-required 必須
                        dd
                            .ec-select
                                select
                                    option 選択して下さい
                                    option 公務員
                                    option コンサルタント
                                    option コンピュータ関連技術職
                                    option コンピュータ関連以外の技術職
                                    option ...
                .ec-RegisterRole__actions
                    .ec-off4Grid
                        .ec-off4Grid__cell
                            p 利用規約に同意してお進みください。
                            .ec-blockBtn--action 同意する
                            .ec-blockBtn--cancel 同意しない
