mixin ec-contactRole
  .ec-contactRole
    .ec-pageHeader
      h1 お問い合わせ
    +b.ec-off1Grid
      +e.cell
        p.ec-para-nomal  内容によっては回答をさしあげるのにお時間をいただくこともございます。
          br
          | また、休業日は翌営業日以降の対応となりますのでご了承ください。
        .ec-borderedDefs
          dl
            dt
              label.ec-label お名前
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="性")
                input(type="text" placeholder="名")
          dl
            dt
              label.ec-label お名前(フリガナ)
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="セイ")
                input(type="text" placeholder="メイ")
          dl
            dt
              label.ec-label 住所
            dd
              .ec-zipInput
                span 〒
                input(type="text")
                span -
                input(type="text")
              .ec-zipInputHelp
                a(href="http://www.post.japanpost.jp/zipcode/" target="_blank")
                  .ec-zipInputHelp__icon
                    .ec-icon
                      img(src='/moc/icon/question-white.svg', alt='')
                  span 郵便番号検索
              .ec-zipAuto
                a.ec-inlineBtn 郵便番号から自動入力
              .ec-select
                select
                  option 都道府県を選択
                  option 北海道
                  option 青森県
                  option 岩手県
                  option ...
              .ec-input
                input(type="text" placeholder="市区町村名 (例：千代田区神田神保町)")
              .ec-input
                input(type="text" placeholder="番地・ビル名 (例：1-3-5)")
          dl
            dt
              label.ec-label 電話番号
            dd
              .ec-telInput
                input(type="text")
                span -
                input(type="text")
                span -
                input(type="text")
          dl
            dt
              label.ec-label メールアドレス
              span.ec-required 必須
            dd
              .ec-input
                input(type="text")
                p.ec-errorMessage 有効なメールアドレスではありません。
          dl
            dt
              label.ec-label お問い合わせ内容
              span.ec-required 必須
            dd
              .ec-input
                textarea
              p ご注文に関するお問い合わせには、必ず「ご注文番号」をご記入くださいますようお願いいたします。

        .ec-RegisterRole__actions
          .ec-off4Grid
            .ec-off4Grid__cell
              a.ec-blockBtn--action(href="/moc/guest/contact/error/") 確認ページへ

mixin ec-contactErrorRole
  .ec-contactRole
    .ec-pageHeader
      h1 お問い合わせ
    +b.ec-off1Grid
      +b.
      +e.
      +e.cell
        p 内容によっては回答をさしあげるのにお時間をいただくこともございます。
          br
          | また、休業日は翌営業日以降の対応となりますのでご了承ください。
        .ec-borderedDefs
          dl
            dt
              label.ec-label お名前
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="性")
                input(type="text" placeholder="名")
          dl
            dt
              label.ec-label お名前(フリガナ)
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="セイ")
                input(type="text" placeholder="メイ")
          dl
            dt
              label.ec-label 住所
            dd
              .ec-zipInput
                span 〒
                input(type="text")
                span -
                input(type="text")
              .ec-zipInputHelp
                a(href="http://www.post.japanpost.jp/zipcode/" target="_blank")
                  .ec-zipInputHelp__icon
                    .ec-icon
                      img(src='/moc/icon/question-white.svg', alt='')
                  span 郵便番号検索
              .ec-zipAuto
                a.ec-inlineBtn 郵便番号から自動入力
              .ec-select
                select
                  option 都道府県を選択
                  option 北海道
                  option 青森県
                  option 岩手県
                  option ...
              .ec-input
                input(type="text" placeholder="市区町村名 (例：千代田区神田神保町)")
              .ec-input
                input(type="text" placeholder="番地・ビル名 (例：1-3-5)")
          dl
            dt
              label.ec-label 電話番号
            dd
              .ec-telInput
                input(type="text")
                span -
                input(type="text")
                span -
                input(type="text")
          dl
            dt
              label.ec-label メールアドレス
              span.ec-required 必須
            dd
              .ec-input.error
                input(type="text")
                p.ec-errorMessage 有効なメールアドレスではありません。
          dl
            dt
              label.ec-label お問い合わせ内容
              span.ec-required 必須
            dd
              .ec-input
                textarea
              p ご注文に関するお問い合わせには、必ず「ご注文番号」をご記入くださいますようお願いいたします。

        .ec-RegisterRole__actions
          .ec-off4Grid
            .ec-off4Grid__cell
              a.ec-blockBtn--action(href="/moc/guest/contact/confirm/") 確認ページへ
mixin ec-contactConfirmRole
  .ec-contactConfirmRole
    .ec-pageHeader
      h1 お問い合わせ
    +b.ec-off1Grid
      +b.
      +e.
      +e.cell
        p 内容によっては回答をさしあげるのにお時間をいただくこともございます。
          br
          | また、休業日は翌営業日以降の対応となりますのでご了承ください。
        .ec-borderedDefs
          dl
            dt
              label.ec-label お名前
            dd 球部 太郎
          dl
            dt
              label.ec-label お名前(フリガナ)
            dd キューブ タロウ
          dl
            dt
              label.ec-label 住所
            dd
              span 〒
              span -
          dl
            dt
              label.ec-label 電話番号
            dd 000-0000-00000
          dl
            dt
              label.ec-label メールアドレス
            dd eccube-sample@sample.com
          dl
            dt
              label.ec-label お問い合わせ内容
            dd お問合わせのサンプルページです。
        .ec-RegisterRole__actions
          .ec-off4Grid
            .ec-off4Grid__cell
              a.ec-blockBtn--action(href="/moc/guest/contact/complete/") 送信をする
              a.ec-blockBtn--cancel(href="/moc/contact/") 戻る
