mixin ec-customerRole
  .ec-customerRole
    .ec-pageHeader
      h1 お客様情報の入力
    include /assets/tmpl/elements/7.3.cart.pug
    +e.progress
      +ec-progress
    +b.ec-off1Grid
      +e.cell
        .ec-borderedDefs
          dl
            dt
              label.ec-label お名前
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="性")
                input(type="text" placeholder="名")
          dl
            dt
              label.ec-label お名前(フリガナ)
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="セイ")
                input(type="text" placeholder="メイ")
          dl
            dt
              label.ec-label 会社名
            dd
              .ec-halfInput
                input(type="text")
          dl
            dt
              label.ec-label 住所
              span.ec-required 必須
            dd
              .ec-zipInput
                span 〒
                input(type="text")
                span -
                input(type="text")
              .ec-zipInputHelp
                a(href="http://www.post.japanpost.jp/zipcode/" target="_blank")
                  .ec-zipInputHelp__icon
                    .ec-icon
                      img(src='/moc/icon/question-white.svg', alt='')
                  span 郵便番号検索
              .ec-zipAuto
                a.ec-inlineBtn 郵便番号から自動入力
              .ec-select
                select
                  option 都道府県を選択
                  option 北海道
                  option 青森県
                  option 岩手県
                  option ...
              .ec-input
                input(type="text" placeholder="市区町村名 (例：千代田区神田神保町)")
              .ec-input
                input(type="text" placeholder="番地・ビル名 (例：1-3-5)")
          dl
            dt
              label.ec-label 電話番号
              span.ec-required 必須
            dd
              .ec-telInput
                input(type="text")
                span -
                input(type="text")
                span -
                input(type="text")
          dl
            dt
              label.ec-label メールアドレス
                span.ec-required 必須
            dd
              .ec-input
                input(type="text")
                p.ec-errorMessage 同じメールアドレスを入力してください。
              .ec-input
                input(type="text" placeholder="確認のためもう一度入力してください")

        .ec-RegisterRole__actions
          .ec-off4Grid
            .ec-off4Grid__cell
              a.ec-blockBtn--action(href="/moc/guest/cart3/error/") 次へ
              a.ec-blockBtn--cancel(href="/moc/guest/cart1/") 戻る

mixin ec-customerErrorRole
  .ec-customerRole
    .ec-pageHeader
      h1 お客様情報の入力
    include /assets/tmpl/elements/7.3.cart.pug
    +e.progress
      +ec-progress
    +b.ec-off1Grid
      +e.cell
        .ec-borderedDefs
          dl
            dt
              label.ec-label お名前
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="性")
                input(type="text" placeholder="名")
          dl
            dt
              label.ec-label お名前(フリガナ)
              span.ec-required 必須
            dd
              .ec-halfInput
                input(type="text" placeholder="セイ")
                input(type="text" placeholder="メイ")
          dl
            dt
              label.ec-label 会社名
            dd
              .ec-halfInput
                input(type="text")
          dl
            dt
              label.ec-label 住所
              span.ec-required 必須
            dd
              .ec-zipInput
                span 〒
                input(type="text")
                span -
                input(type="text")
              .ec-zipInputHelp
                a(href="http://www.post.japanpost.jp/zipcode/" target="_blank")
                  .ec-zipInputHelp__icon
                    .ec-icon
                      img(src='/moc/icon/question-white.svg', alt='')
                  span 郵便番号検索
              .ec-zipAuto
                a.ec-inlineBtn 郵便番号から自動入力
              .ec-select
                select
                  option 都道府県を選択
                  option 北海道
                  option 青森県
                  option 岩手県
                  option ...
              .ec-input
                input(type="text" placeholder="市区町村名 (例：千代田区神田神保町)")
              .ec-input
                input(type="text" placeholder="番地・ビル名 (例：1-3-5)")
          dl
            dt
              label.ec-label 電話番号
              span.ec-required 必須
            dd
              .ec-telInput
                input(type="text")
                span -
                input(type="text")
                span -
                input(type="text")
          dl
            dt
              label.ec-label メールアドレス
              span.ec-required 必須
            dd
              .ec-input.error
                input(type="text")
                p.ec-errorMessage 同じメールアドレスを入力してください。
              .ec-input
                input(type="text" placeholder="確認のためもう一度入力してください")
        .ec-RegisterRole__actions
          .ec-off4Grid
            .ec-off4Grid__cell
              a.ec-blockBtn--action(href="/moc/guest/cart4/") 次へ
              a.ec-blockBtn--cancel(href="/moc/guest/cart1/") 戻る