mixin ec-404Role
    +b.ec-404Role
        .ec-off4Grid
            .ec-off4Grid__cell
                div(style="font-size:100px;text-align:center")
                    +e.icon.ec-icon
                        img(src='/moc/icon/exclamation-pale.svg', alt='')
                +e.P.title.ec-reportHeading ページがみつかりません。
                +e.P.description.ec-reportDescription URLに間違いがないかご確認ください。
            .ec-off4Grid__cell
                a.ec-blockBtn--cancel(href="/moc/") トップページへ
