mixin ec-withdrawRole
    +b.ec-withdrawRole
        .ec-off3Grid
            .ec-off3Grid__cell
                div(style="font-size:100px;text-align:center")
                    .ec-icon
                        img(src='/moc/icon/exclamation.svg', alt='')
                +e.P.__title 退会手続きの前にご確認ください
                +e.P.__description 会員を退会された場合には、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますがよろしいでしょうか？
        .ec-off4Grid
            .ec-off4Grid__cell
                a.ec-blockBtn--cancel(href="/moc/user/withdraw/confirm") 会員退会手続きへ

mixin ec-withdrawConfirm
    .ec-role
        +b.ec-withdrawConfirmRole
            .ec-off3Grid
                .ec-off3Grid__cell
                    div(style="font-size:100px;text-align:center")
                        .ec-icon
                            img(src='/moc/icon/exclamation.svg', alt='')
                    +e.P.__title 退会手続きを実行してもよろしいでしょうか？
                    +e.P.__description 退会手続きが完了した時点で、現在保存されている購入履歴やお届け先等の情報は、すべて削除されますのでご注意ください。
            .ec-off4Grid
                .ec-off4Grid__cell
                    +e.A.cancel.ec-blockBtn--cancel(href="/moc/user/withdraw") いいえ、退会しません
                    A.ec-blockBtn(href="/moc/user/withdraw/complete/") はい、退会します

mixin ec-withdrawComplete
    .ec-role
        +b.ec-withdrawCompleteRole
            .ec-off4Grid
                .ec-off4Grid__cell
                    .ec-reportHeading 退会が完了いたしました
                    p.ec-reportDescription ご利用いただき誠にありがとうございました。
                        br
                        | またのご来店をお待ちしております。
                .ec-off4Grid__cell
                    p.ec-blockBtn--cancel トップページへ
