mixin ec-userEditCompleteRole
    +b.ec-userEditCompleteRole
        .ec-off3Grid
            .ec-off3Grid__cell
                +e.P.__title 会員登録内容の変更が完了いたしました
                +e.P.__description 今後ともご愛顧賜りますようよろしくお願い申し上げます。
        .ec-off4Grid
            .ec-off4Grid__cell
                p.ec-blockBtn--cancel トップページへ