mixin icon-all
    +angle-down
    +angle-down-white
    +angle-right
    +angle-right-white
    +cart
    +cart-dark
    +cross
    +cross-dark
    +cross-white
    +dotted
    +exclamation
    +exclamation-pale
    +exclamation-white
    +eye
    +favorite
    +heart
    +login
    +minus
    +minus-dark
    +plus
    +plus-dark
    +question
    +question-white
    +search
    +search-dark
    +user
mixin angle-down
    .ec-icon
        img(src='/moc/icon/angle-down.svg', alt='&#60;')
        span 下アングル
mixin angle-down-white
    .ec-icon
        img(src='/moc/icon/angle-down-white.svg', alt='&#60;')
        span 下アングル_白
mixin angle-right
    .ec-icon
        img(src='/moc/icon/angle-right.svg', alt='&#62;')
        span 右アングル
mixin angle-right-white
    .ec-icon
        img(src='/moc/icon/angle-right-white.svg', alt='&#62;')
        span 右アングル_白
mixin cart
    .ec-icon
        img(src='/moc/icon/cart.svg', alt='cart')
        span カート
mixin cart-dark
    .ec-icon
        img(src='/moc/icon/cart-dark.svg', alt='cart')
        span カート_グレー
mixin cross
    .ec-icon
        img(src='/moc/icon/cross.svg', alt='')
        span クロス
mixin cross-dark
    .ec-icon
        img(src='/moc/icon/cross-dark.svg', alt='')
        span クロス_グレー
mixin cross-white
    .ec-icon
        img(src='/moc/icon/cross-white.svg', alt='')
        span クロス_白
mixin dotted
    .ec-icon
        img(src='/moc/icon/dotted.svg', alt='')
        span ドット
mixin exclamation
    .ec-icon
        img(src='/moc/icon/exclamation.svg', alt='')
        span エクスクラメーション
mixin exclamation-pale
    .ec-icon
        img(src='/moc/icon/exclamation-pale.svg', alt='')
        span エクスクラメーション_淡いグレー
mixin exclamation-white
    .ec-icon
        img(src='/moc/icon/exclamation-white.svg', alt='')
        span エクスクラメーション_白
mixin eye
    .ec-icon
        img(src='/moc/icon/eye.svg', alt='')
        span 目
mixin favorite
    .ec-icon
        img(src='/moc/icon/favorite.svg', alt='')
        span お気に入り
mixin heart
    .ec-icon
        img(src='/moc/icon/heart.svg', alt='')
        span ハート
mixin login
    .ec-icon
        img(src='/moc/icon/login.svg', alt='')
        span ログイン
mixin minus
    .ec-icon
        img(src='/moc/icon/minus.svg', alt='&#45;')
        span マイナス
mixin minus-dark
    .ec-icon
        img(src='/moc/icon/minus-dark.svg', alt='&#45;')
        span マイナス_グレー
mixin plus
    .ec-icon
        img(src='/moc/icon/plus.svg', alt='&#43;')
        span プラス
mixin plus-dark
    .ec-icon
        img(src='/moc/icon/plus-dark.svg', alt='&#43;')
        span プラス_グレー
mixin question
    .ec-icon
        img(src='/moc/icon/question.svg', alt='&#63;')
        span クエスチョン
mixin question-white
    .ec-icon
        img(src='/moc/icon/question-white.svg', alt='&#63;')
        span クエスチョン_白
mixin search
    .ec-icon
        img(src='/moc/icon/search.svg', alt='search')
        span 虫眼鏡
mixin search-dark
    .ec-icon
        img(src='/moc/icon/search-dark.svg', alt='search')
        span 虫眼鏡_グレー
mixin user
    .ec-icon
        img(src='/moc/icon/user.svg')
        span ユーザ

