mixin ec-login
    +b.ec-login
        +e.icon
            .ec-icon
                img(src='/moc/icon/user.svg', alt='')
        +e.input
            .ec-input
                input(type="text",placeholder="メールアドレス")
                input(type="text",placeholder="パスワード")
            .ec-checkbox
                label
                    input(type="checkbox")
                    span 次回から自動的にログインする
        //p.ec-errorMessage ログインできませんでした。
        //    br
        //    | 入力内容に誤りがないかご確認ください。
        .ec-grid2
            .ec-grid2__cell
                +e.actions
                    a(href="/moc/guest/login/error").ec-blockBtn--cancel ログイン
            .ec-grid2__cell
                +e.link
                    a(href="/moc/guest/forgot").ec-link ログイン情報をお忘れですか?
                +e.link
                    a(href="/moc/guest/register").ec-link 新規会員登録

mixin ec-loginError
    +b.ec-login.error
        +e.icon
            .ec-icon
                img(src='/moc/icon/user.svg', alt='')
        +e.input
            .ec-input
                input(type="text",placeholder="メールアドレス")
                input(type="text",placeholder="パスワード")
            .ec-checkbox
                label
                    input(type="checkbox")
                    span 次回から自動的にログインする
        p.ec-errorMessage ログインできませんでした。
            br
            | 入力内容に誤りがないかご確認ください。
        .ec-grid2
            .ec-grid2__cell
                +e.actions
                    a(href="/moc/user/mypage").ec-blockBtn--cancel ログイン
            .ec-grid2__cell
                +e.link
                    a(href="/moc/guest/forgot").ec-link ログイン情報をお忘れですか?
                +e.link
                    a(href="/moc/guest/register").ec-link 新規会員登録

mixin ec-guest
    +b.ec-guest
        +e.inner
            p 会員登録をせずに購入手続きをされたい方は、下記よりお進みください。
            +e.actions
                a(href="/moc/guest/cart3").ec-blockBtn--cancel ゲスト購入



