mixin ec-displayB
    .ec-grid3
        each item in ["","",""]
            .ec-grid3__cell
                a(href="/moc/guest/item/").ec-displayB
                    .ec-displayB__img
                        img(src="http://demo3.ec-cube.net/template/default/img/top/img03.jpg")
                    .ec-displayB__catch お気に入りのエスプレッソタイム
                    .ec-displayB__comment.ec-font-size-1 コーヒータイムを上質な時間にしてくれる、口当たりのよさとデザイン性を兼ね備えたエスプレッソカップを集めました・・・
                    .ec-displayB__link read more

mixin ec-displayC
    .ec-grid4
        each item in ["","","",""]
            .ec-grid4__cell
                a(href="/moc/guest/item/").ec-displayC
                    .ec-displayC__img
                        img(src="http://demo3.ec-cube.net/upload/save_image/0701104933_5593472d8d179.jpeg")
                    .ec-displayC__catch 足の透かし模様が美しいミニテーブル
                    .ec-displayC__title ミニテーブル
                    .ec-displayC__price--sp ¥ 1,785

mixin ec-displayD
    .ec-grid6
        each item in ["","","","","",""]
            .ec-grid6__cell
                a(href="/moc/guest/item/").ec-displayD
                    .ec-displayD__img
                        img(src="http://demo3.ec-cube.net/upload/save_image/0701104933_5593472d8d179.jpeg")

mixin ec-shelf
    .ec-grid4
        each item in ["","","",""]
            .ec-grid4__cell
                .ec-shelf
                    .ec-shelf__img
                        img(src="http://demo3.ec-cube.net/upload/save_image/0701122303_55935d17278d6.jpeg")
                    .ec-shelf__title ミニサボテン
                    .ec-shelf__price ¥ 876
