mixin ec-pager
    +b.UL.ec-pager
        +e.LI.item: a(href="#") 前へ
        +e.LI.item: a(href="#") 1
        +e.LI.item--active: a(href="#") 2
        +e.LI.item: a(href="#") 3
        +e.LI.item: a(href="#") 次へ

//mixin ec-topicpath
//    +b.OL.ec-topicpath
//        +e.LI.item: a(href="#") 全商品
//        +e.LI.divider |
//        +e.LI.item: a(href="#") 生活雑貨
//        +e.LI.divider |
//        +e.LI.item--active: a(href="#") キッチン

mixin ec-topicpath
    +b.OL.ec-topicpath
        +e.LI.item: a(href="#") 全て
        +e.LI.divider |
        +e.LI.item: a(href="#") 新商品
        +e.LI.divider |
        +e.LI.item: a(href="#") アイスサンド