mixin ec-news
    +b.ec-news
        +e.title 新着情報
        +e.UL.items
            +e.LI.item
                +ec-newsline
mixin ec-newsline
    +b.ec-newsline
        +e.date 2016/09/29
        +e.comment サイトオープンしました
        +e.close x
        +e.description 一人暮らしからオフィスなどさまざまなシーンで あなたの生活をサポートするグッズをご家庭へお届けします！

mixin ec-banner
    +b.ec-banner
        div 5000円以上の購入で
        div 配送料無料
        div 一部地域は除く