mixin ec-news
    +b.ec-news
        +e.title 新着情報
        +e.UL.items
            +e.LI.item
                +ec-newsline
mixin ec-newsline
    +b.ec-newsline
        +e.info
            +e.date 2016/09/29
            +e.comment サイトオープンしました
            +e.close
                a.ec-closeBtn--circle
                    span.ec-closeBtn--circle__icon
                        .ec-icon
                            img(src='/moc/icon/angle-down-white.svg', alt='')
        +e.description 一人暮らしからオフィスなどさまざまなシーンで あなたの生活をサポートするグッズをご家庭へお届けします！

mixin ec-banner
    +b.ec-banner
        +e.intro 5000円以上の購入で
        +e.title 配送料無料
        div 一部地域は除く