include ./4.1.icon.pug

mixin ec-headerRole
    +b.ec-headerRole
        +e.title: +ec-headerTitle
        +e.cart: +ec-headerCart
        +e.search: +ec-headerSearch
        +e.nav: +ec-headerNav

mixin ec-headerTitle
    +b.ec-headerTitle
        +e.subtitle
            | このデモサイトは
            a(href="") さくらのクラウド
            | で稼働しています。
        +e.title: h1 EC-CUBE3 DEMO SHOP
mixin ec-headerCart
    .ec-cartNavi
        .ec-cartNavi__icon
        .ec-cartNavi__badge 1
        .ec-cartNavi__label
            | 合計
            .ec-cartNavi__price ¥1920
mixin ec-headerSearch
    .ec-select
        select
            option hoge
    .ec-input
        input(type=text)
mixin ec-headerNav
    +b.ec-headerNav
        +e.item: +icon-user
        +e.item: +icon-user
        +e.item: +icon-user

