mixin ec-historyRole
    .ec-historyRole
        .ec-historyRole__header
            .ec-historyListHeader
                p.ec-historyListHeader__date 2017/01/20 12:38:58
                dl.ec-definitions
                    dt ご注文番号：
                    dd 544
                dl.ec-definitions
                    dt ご注文状況：
                    dd 注文受け付け
                p.ec-historyListHeader__action
                    a.ec-inlineBtn 詳細を見る
        .ec-historyRole__detail
            .ec-imageGrid
                .ec-imageGrid__img: img(src="http://demo3.ec-cube.net/upload/save_image/0701113537_559351f959620.jpeg")
                .ec-imageGrid__content
                    p ホーローマグ
                    p ¥ 1,728 x 1

mixin ec-historyHeader
    .ec-historyListHeader
        p.ec-historyListHeader__date 2017/01/20 12:38:58
        dl.ec-definitions
            dt ご注文番号：
            dd 544
        dl.ec-definitions
            dt ご注文状況：
            dd 注文受け付け
        p.ec-historyListHeader__action
            a.ec-inlineBtn 詳細を見る
