mixin ec-totalBox
    .ec-totalBox
        dl.ec-totalBox__spec
            dt 小計
            dd ¥ 9,720
        dl.ec-totalBox__spec
            dt 手数料
            dd ¥ 0
        dl.ec-totalBox__spec
            dt 送料
            dd ¥ 1,000
        .ec-totalBox__total
            | 合計
            span.ec-totalBox__price ¥ 10,720
            span.ec-totalBox__taxLabel 税込
        .ec-blockBtn--action 注文する

mixin ec-progress
    +b.UL.ec-progress
        +e.LI.item
            +e.number 1
            +e.label カートの商品
        +e.LI.item
            +e.number 2
            +e.label ご注文内容確認
        +e.LI.item
            +e.number 3
            +e.label 完了
