extends /assets/tmpl/moc/guest/_layout


block content
  .ec-role
    .ec-pageHeader
      h1 パスワード発行メールの送信 完了
  +b.ec-forgetCompleteRole
    .ec-off3Grid.ec-text-ac
      .ec-off3Grid__cell
        .ec-reportHeading
         h2 パスワード再発行メールの送信が完了しました。
        p.ec-reportDescription ご登録メールアドレスにパスワードを再発行するためのメールを送信いたしました。
           br
           | メールの内容をご確認いただきますよう、お願いいたします。
        p.ec-reportDescription ※メールが届かない場合はメールアドレスをご確認の上、再度お試しください。
