doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    body
        style.
          .ec-icon {
          display: inline-block;
          }
          .ec-icon img{
          width: 100%;
          height: 100%;
          }
        .ec-icon
          img(src='/moc/icon/angle-down.svg', alt='')
        .ec-icon
          img(src='/moc/icon/angle-right.svg', alt='')
        .ec-icon
          img(src='/moc/icon/cart.svg', alt='')
