extends /assets/tmpl/moc/guest/_layoutTop

include /assets/tmpl/elements/7.1.itembanner.pug
include /assets/tmpl/elements/8.1.info.pug
include /assets/tmpl/elements/12.1.slider.pug
include /assets/tmpl/elements/12.2.eyecatch.pug
include /assets/tmpl/elements/12.5.topics.pug
include /assets/tmpl/elements/12.6.newItem.pug
include /assets/tmpl/elements/12.7.category.pug
include /assets/tmpl/elements/12.8.news.pug

block content
    .ec-role
        +ec-sliderRole
        +ec-eyecatchRole
    +ec-topicRole
    .ec-role
        +ec-newItemRole
    +ec-categoryRole
    .ec-role
        +ec-newsRole