extends /assets/tmpl/moc/guest/_layout


block content
  .ec-role
    .ec-pageHeader
      h1 新規会員登録（完了）
  +b.ec-contactCompleteRole
    .ec-off4Grid
      .ec-off4Grid__cell
        +e.P.__title 本登録が完了いたしました。
        +e.P.__description それではショッピングをお楽しみください。
          br
          | 今後ともご愛顧賜りますようよろしくお願い申し上げます。

  .ec-off4Grid__cell
          p.ec-blockBtn--cancel トップページへ