@charset "UTF-8";
/**
メディアクエリ
SP フォーストで記述する。
Twitter Bootstrap デフォルト準拠
 */
/*
トピック（アイテム2列）

トップページで使用されているトピックのスタイルです。

ex [トップページ](http://demo4.ec-cube.net/)

Markup:
include /assets/tmpl/elements/12.5.topics.pug
+ec-topicRole

Styleguide 12.5
*/
.ec-topicRole {
  padding: 40px 0;
  background: #F8F8F8; }
  @media only screen and (min-width: 768px) {
    .ec-topicRole {
      padding: 60px 0; } }
  .ec-topicRole .ec-topicRole__list {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 768px) {
      .ec-topicRole .ec-topicRole__list {
        flex-wrap: nowrap; } }
  .ec-topicRole .ec-topicRole__listItem {
    margin-bottom: 20px;
    width: 100%;
    height: auto; }
    @media only screen and (min-width: 768px) {
      .ec-topicRole .ec-topicRole__listItem {
        width: calc(100% / 2); }
        .ec-topicRole .ec-topicRole__listItem:not(:last-of-type) {
          margin-right: 30px; } }
  .ec-topicRole .ec-topicRole__listItemTitle {
    margin-top: .5em;
    font-size: 14px;
    color: black; }
    @media only screen and (min-width: 768px) {
      .ec-topicRole .ec-topicRole__listItemTitle {
        margin-top: 1em; } }
