@charset "UTF-8";
/**
メディアクエリ
SP フォーストで記述する。
Twitter Bootstrap デフォルト準拠
 */
/*
新着情報

トップページで使用されている新着情報のスタイルです。

ex [トップページ](http://demo4.ec-cube.net/)

Markup:
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
include /assets/tmpl/elements/12.8.news.pug
+ec-newsRole

Styleguide 12.8
*/
.ec-newsRole {
  padding: 40px 0 0; }
  @media only screen and (min-width: 768px) {
    .ec-newsRole {
      padding: 60px 0 0; } }
  .ec-newsRole .ec-newsRole__news {
    box-sizing: border-box; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__news {
        border: 16px solid #F8F8F8;
        padding: 20px 30px; } }
  .ec-newsRole .ec-newsRole__newsItem {
    width: 100%; }
    .ec-newsRole .ec-newsRole__newsItem:not(:last-of-type) {
      border-bottom: 1px solid #ccc; }
    .ec-newsRole .ec-newsRole__newsItem:last-of-type {
      margin-bottom: 20px; }
      @media only screen and (min-width: 768px) {
        .ec-newsRole .ec-newsRole__newsItem:last-of-type {
          margin-bottom: 0; } }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__newsItem {
        padding: 20px 0; } }
  .ec-newsRole .ec-newsRole__newsHeading {
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__newsHeading {
        display: flex; } }
  .ec-newsRole .ec-newsRole__newsDate {
    display: block;
    margin: 15px 0 5px;
    font-size: 12px;
    color: black; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__newsDate {
        display: inline-block;
        margin: 0;
        min-width: 120px;
        font-size: 14px; } }
  .ec-newsRole .ec-newsRole__newsColumn {
    display: flex; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__newsColumn {
        display: inline-flex;
        min-width: calc(100% - 120px); } }
  .ec-newsRole .ec-newsRole__newsTitle {
    display: inline-block;
    margin-bottom: 10px;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    color: #7D7D7D;
    line-height: 1.6; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__newsTitle {
        margin-bottom: 0;
        line-height: 1.8; } }
  .ec-newsRole .ec-newsRole__newsClose {
    display: inline-block;
    width: 10%;
    position: relative; }
  .ec-newsRole .ec-newsRole__newsCloseBtn {
    display: inline-block;
    margin-left: auto;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    background: black;
    cursor: pointer;
    position: absolute;
    right: 5px; }
  .ec-newsRole .ec-newsRole__newsDescription {
    display: none;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole .ec-newsRole__newsDescription {
        margin: 20px 0 0;
        line-height: 1.8; } }
    .ec-newsRole .ec-newsRole__newsDescription a {
      color: #0092C4; }
  .ec-newsRole__newsItem.is_active .ec-newsRole__newsDescription {
    margin: 0 0 10px; }
    @media only screen and (min-width: 768px) {
      .ec-newsRole__newsItem.is_active .ec-newsRole__newsDescription {
        margin: 20px 0 0; } }
  .ec-newsRole__newsItem.is_active .ec-newsRole__newsCloseBtn i {
    display: inline-block;
    transform: rotateX(180deg) translateY(2px); }
