@charset "UTF-8";
/**
メディアクエリ
SP フォーストで記述する。
Twitter Bootstrap デフォルト準拠
 */
/*
カート追加モーダル

カート追加モーダルに関する Project コンポーネントを定義します。

ex [商品一覧、商品詳細](http://demo3.ec-cube.net/products/list)

Markup:
.ec-modal
  input#ec-modal-checkbox.checkbox(type='checkbox')
  .ec-modal-overlay
    label.ec-modal-overlay-close(for='ec-modal-checkbox')
    .ec-modal-wrap
      label.ec-modal-close(for='ec-modal-checkbox')
        span.ec-icon
          img(src='/html/template/default/assets/icon/cross-dark.svg', alt='')
      #ec-modal-header.text-center カートに追加しました。
      .ec-modal-box
        .ec-role
          label.ec-inlineBtn--cancel(for='ec-modal-checkbox') お買い物を続ける
          a.ec-inlineBtn--action(href='https://demo4.ec-cube.net/cart') カートへ進む


Styleguide 13.4

*/
.ec-modal .checkbox {
  display: none; }

.ec-modal .ec-modal-overlay {
  opacity: 0;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transform: scale(1);
  display: flex;
  background-color: rgba(0, 0, 0, 0.3); }

.ec-modal .ec-modal-wrap {
  background-color: #fff;
  border: 1px solid #333;
  width: 90%;
  margin: 20px;
  padding: 40px 5px;
  border-radius: 2px;
  transition: all 0.5s ease;
  -ms-flex-item-align: center;
  align-self: center; }
  .ec-modal .ec-modal-wrap .ec-modal-box {
    text-align: center; }
  .ec-modal .ec-modal-wrap .ec-modal-box div {
    margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .ec-modal .ec-modal-wrap {
      padding: 40px 10px;
      width: 50%;
      margin: 20px auto; } }
  .ec-modal .ec-modal-wrap.small {
    width: 30%; }
  .ec-modal .ec-modal-wrap.full {
    width: 100%;
    height: 100%; }

.ec-modal .ec-modal-overlay .ec-modal-close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  height: 30px;
  width: 20px; }
  .ec-modal .ec-modal-overlay .ec-modal-close:hover {
    cursor: pointer;
    color: #4b5361; }

.ec-modal .ec-modal-overlay-close {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100; }

.ec-modal input:checked ~ .ec-modal-overlay-close {
  z-index: 9998; }

.ec-modal input:checked ~ .ec-modal-overlay {
  transform: scale(1);
  opacity: 1;
  z-index: 9997;
  overflow: auto; }

.ec-modal input:checked ~ .ec-modal-overlay .ec-modal-wrap {
  transform: translateY(0);
  z-index: 9999; }
