include /node_modules/bemto.pug/bemto.pug
include /assets/tmpl/elements/11.2.header.pug
include /assets/tmpl/elements/11.3.footer.pug

doctype html
html(lang="ja")
    head
        title= pageTitle
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/css/style.css")
    body
        +ec-headerRole
        block content
        +ec-footerRole
        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
