include /node_modules/bemto.pug/bemto.pug
include /assets/tmpl/elements/11.2.header.pug
include /assets/tmpl/elements/11.3.headerNavi.pug
include /assets/tmpl/elements/11.4.categoryNavi.pug
include /assets/tmpl/elements/11.8.footer.pug

doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
        title= pageTitle
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
        link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
        link(rel="stylesheet", href="/assets/css/style.css")
        style
            include ./slick.css
    body
        +b.ec-layoutRole
            +e.header
                +ec-headerRole
                +ec-headerNaviRole
                +ec-cateoryNaviRole
            +e.contentTop
                block pageHeader
            +e.contents
                block slideLeft
                +e.main
                    block content
                block slideRight
            +e.contentBottom
            +e.footer
                +ec-footerRole
        .ec-overlayRole
        .ec-drawerRole
        .ec-blockTopBtn
        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="/assets/js/script.js")
