extends /assets/tmpl/moc/guest/_layout.pug

include /assets/tmpl/elements/9.1.mypage.pug
include /assets/tmpl/elements/16.1.history.pug

block content
    .ec-mypageRole
        .ec-pageHeader
            h1 マイページ/ご注文履歴

        +ec-navlist
        +ec-welcomeMsg
    .ec-mypageRole
        p.ec-para-nomal
            strong ３件
            | の履歴があります。
    .ec-mypageRole
        +ec-historyRole
        +ec-historyRole
        +ec-historyRole
        +ec-historyRole



