@import "../mixins/media";

/*
標準セクション

通常のコンテナブロックです。

http://demo3.ec-cube.net/products/detail/33

Markup:
.ec-role
  p this is inside container

Styleguide 11.1
*/
.ec-role{
  @include container;
  box-sizing: border-box;
}
