@import "../mixins/media";
@import "../mixins/projects";
/*
ヘッダー

ヘッダー用のプロジェクトコンポーネントを提供します。

ex [商品詳細ページ　ヘッダー](http://demo3.ec-cube.net/products/detail/33)

Markup:
include /assets/tmpl/elements/11.2.header.pug
+ec-headerRole
p hoge

Styleguide 11.2
*/
.ec-headerRole{
  @include container;
  padding-top: 15px;
  &::before{
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & &__title{
    width: 60%;
  }
  & &__cart{
    display: none;
    @include media_desktop(){
      display: block;
      @include reset_link;
    }
  }
  & &__search{
    display: none;
    @include media_desktop(){
      display: block;
      width: 50%;
      @include reset_link;
    }
  }
  & &__nav{
    display: none;
    @include media_desktop(){
      display: block;
      width: 50%;
      @include reset_link;
    }
  }
  & &__navSP{
    display: block;
    width: 40%;
    text-align: right;
    @include media_desktop {
      display: none;
    }
  }
  & &__itemnav{
    display: none;
    @include media_desktop(){
      display: block;
      width: 100%;
      @include reset_link;
    }

  }
}

/*
ヘッダータイトル

ヘッダー内で使用されるタイトルコンポーネントです。

Markup:
include /assets/tmpl/elements/11.2.header.pug
+ec-headerTitle

sg-wrapper:
<div class="ec-headerRole">
  <div class="ec-headerRole__search">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.2.1
*/
.ec-headerTitle{
  & &__title {
    h1 {
      margin: 0;
      padding: 0;
    }
    a{
      display: inline-block;
      margin-bottom: 30px;
      text-decoration: none;
      font-size: 20px;
      @include media_desktop(){
        font-size: 40px;
      }
      font-weight: bold;
      color: #000;

      &:hover {
        color: #666;
      }
    }
  }
  & &__subtitle {
    font-size: 10px;
    @include media_desktop(){
      font-size: 16px;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      color: #0092C4;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/*
検索ボックス

ヘッダー内で使用される商品検索コンポーネントです。

Markup:
include /assets/tmpl/elements/11.2.header.pug
+ec-headerSearch

sg-wrapper:
<div class="ec-headerRole">
  <div class="ec-headerRole__title">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.2.2
*/
.ec-headerSearch{
  @include clearfix;
  & &__category {
    float: left;
    select{
      width: auto;
      max-width: 180px;
      height: 50px;
      border: 1px solid #ccc;
      font-size: 16px;
      font-size: 1.6rem;
      padding: 0.5em 1em;
      border-radius: 0;
      box-shadow: none;
      box-sizing: border-box;
    }
  }
  & &__keyword{
    float: left;
    height: 50px;
    padding: 0 50px 0 1em;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-left: 1%;
    input[type="search"]{
      height: 50px;
      width: 100%;
      font-size: 16px;
      font-size: 1.6rem;
      border: 0 none;
      padding: 0.5em 0;
      box-shadow: none;
      background: none;
      box-sizing: border-box;
    }
  }
  & &__keywordBtn{
    border: 0;
    background: none;
    position: absolute;
    right: 0;
    top: 6px;
    display: block;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
  }


}
/*
ナビゲーション

ヘッダー内で使用されるナビゲーションコンポーネントです。

Markup:
include /assets/tmpl/elements/11.2.header.pug
+ec-headerNav

sg-wrapper:
<div class="ec-headerRole">
  <div class="ec-headerRole__nav">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.2.3
*/
.ec-headerNav{
  text-align: right;
  & &__item{
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    span{
      font-size: 14px;
    }
  }
}
.ec-headerNavSP {
  width: 100%;
  height: auto;
  vertical-align: top;
  text-align: right;
  & &__item{
    display: inline-block;
    width: 40%;
    text-align: center;
  }
  .ec-cartNaviSP{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    .ec-cartNaviSP__icon{
      display: inline-block;
      width: 30px;
      height: 30px;
      fill: #525263;
    }
    .ec-cartNaviSP__badge{
      display: inline-block;
      padding: 3px 7px;
      min-width: 10px;
      font-size: 10px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      background: #DE5D50;
      border-radius: 10px;
      position: absolute;
      top: 0;
      right: -10px;
    }
  }
  .nav-trigger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: #525263;
    }
    span:nth-of-type(1) {
      top: 0;
    }
    span:nth-of-type(2) {
      top: 10px;
    }
    span:nth-of-type(3) {
      bottom: 0;
    }
  }
}

/*
カテゴリナビ

カテゴリ一覧として使用します。

Markup:
include /assets/tmpl/elements/11.2.header.pug
+ec-itemNav

sg-wrapper:
<div class="ec-headerRole">
  <div class="ec-headerRole__itemnav">
    <sg-wrapper-content/>
  </div>
</div>

Styleguide 11.2.4
*/
.ec-itemNav{
  margin: 30px 0;
  text-align: center;
  width: 100%;
  display: block;
  list-style: none;
  padding: 16px;
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
  & &__item{
    display: inline-block;
    padding: 0 16px;
    font-weight: bold;
  }

}
