@import "../mixins/media";
/*
フッター

全ページで使用されるフッターのプロジェクトコンポーネントです。

ex [商品詳細ページ　フッター](http://demo3.ec-cube.net/products/detail/33)

Markup:
include /assets/tmpl/elements/11.3.footer.pug
+ec-footerRole

Styleguide 11.3
*/
.ec-footerRole{
  background: #f8f8f8;
  border-top: 1px solid #e8e8e8;
  padding-top: 12px;
  padding-bottom: 24px;
  margin-top: 36px;
  @include media_desktop(){
    padding-top: 32px;
    margin-top: 80px;
  }
  & &__inner{
    @include container;
  }
  .ec-footerTitle{
    margin-top:80px;
  }
}

/*
フッターナビ

フッタープロジェクトで使用するナビゲーション用のコンポーネントです。

ulタグを用いてリスト要素として宣言します。

ex [商品詳細ページ　フッターナビ(http://demo3.ec-cube.net/products/detail/33)

Markup:
include /assets/tmpl/elements/11.3.footer.pug
+ec-footerNav

Styleguide 11.3.1
*/
.ec-footerNavi{
  list-style: none;
  text-align: center;
  & &__link{
    display: inline-block;
    margin: 0 8px 8px;
    a{
      color: inherit;
    }
  }
}

/*
フッタータイトル

フッタープロジェクトで使用するタイトル用のコンポーネントです。

ulタグを用いてリスト要素として宣言します。

ex [商品詳細ページ　フッタータイトル](http://demo3.ec-cube.net/products/detail/33)

Markup:
include /assets/tmpl/elements/11.3.footer.pug
+ec-footerTitle

Styleguide 11.3.2
*/
.ec-footerTitle{
  text-align: center;
  & &__logo{
    font-weight: bold;
    a{
      font-size: 2em;
      color: inherit;
    }
  }
  & &__copyright{
    font-size: .8em
  }
}

