/*
トップページ

トップページ スライド部に関する Project コンポーネントを定義します。

ex [トップページ](http://demo3.ec-cube.net/)

Markup:
.ec-sliderRole
  ul
    li: img(src='http://demo3.ec-cube.net/template/default/img/top/mv01.jpg')

Styleguide 12.1
*/
.ec-sliderRole{
  ul{
    padding: 0;
    list-style: none;
  }

}