@import "../mixins/media";

/*
アイキャッチ

トップページ アイキャッチ部に関する Project コンポーネントを定義します。

ex [トップページスライダー直下 アイキャッチ部](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/12.2.eyecatch.pug
+ec-eyecatchRole

Styleguide 12.2
*/
.ec-eyecatchRole{
  @include container;
  text-align: center;

}

/*
トップページ

アイキャッチで使用する 分割画像レイアウトです。

ex [トップページ](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/12.2.eyecatch.pug
+ec-eyecatchTop


Styleguide 12.2.1
*/
.ec-splitImg{
  display: flex;
  & &__item{
    width: 50%;
    padding: 0 8px;
    @include media_desktop(){
      padding: 0 16px;
    }
    img{
      width: 100%;
    }

  }

}