/*
検索ラベル

商品一覧 ヘッダー部 に関する Project コンポーネントを定義します。


ex [商品一覧 ヘッダー部](http://demo3.ec-cube.net/products/list)

Markup:
+b.ec-searchnavRole
  +e.topicpath
  +b.OL.ec-topicpath
    +e.LI.item: a(href="#") 全て
    li.ec-topicpath__divider |
    li.ec-topicpath__item--active: a(href="#") 生活雑貨
  +e.infos
    +e.counter
      +b.SPAN.text--bold 8件
      span の商品が見つかりました
    +e.actions
      .ec-select
        select
          option 15件
        select
          option 価格が低い順

Styleguide 13.1

*/
.ec-searchnavRole{
  & &__topicpath{

  }
  & &__infos{
    display: flex;
    border-top: 1px solid #ccc;;
    padding-top: 16px;
  }

  & &__counter{
    width: 50%;
  }

  & &__actions{
    text-align: right;
    width: 50%;
  }


}