@import "../mixins/media";
@import "../mixins/projects";
/*
商品一覧

商品一覧 に関する Project コンポーネントを定義します。

SP版２列、PC版４列の特殊グリッドを構成します。

ex [商品一覧 商品掲載部](http://demo3.ec-cube.net/products/list)

Markup:
include /assets/tmpl/elements/13.2.shelf.pug
+b.ec-shelfRole
  +ec-shelfGrid

Styleguide 13.2

*/
.ec-shelfRole{
  @include container;
}

/*
商品一覧グリッド

商品一覧 で使用するグリッドコンポーネントです。

SP版２列、PC版４列の特殊グリッドを構成します。

Markup:
include /assets/tmpl/elements/13.2.shelf.pug
+b.ec-shelfRole
  +ec-shelfGrid

Styleguide 13.2.1

*/
.ec-shelfGrid{
  @include reset_link;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-left: -16px;
  margin-right: -16px;
  & &__item{
    width: 50%;
    padding: 0 8px;
    img{
      width: 100%;
    }
    @include media_desktop(){
      width: 25%;
      padding: 0 16px;
    }
  }
}

