/*
商品詳細

商品詳細ページに関する Project コンポーネントを定義します。

ex [商品詳細ページ](http://demo3.ec-cube.net/products/detail/18)


Markup:
include /assets/tmpl/elements/14.1.product.pug
+ec-productSec

Styleguide 14.1
*/
.ec-productSec{
  & &__price{
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;;
  }
  & &__code{
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;;
  }
  & &__category{
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;;
  }
}




