@import "../mixins/projects";

/*
注文履歴一覧

マイページ 注文履歴部に関する Project コンポーネントを定義します。

ex [マイページ　注文履歴一覧](http://demo3.ec-cube.net/mypage)
(要ログイン)

Markup:
include /assets/tmpl/elements/16.1.history.pug
+ec-historyRole

Styleguide 16.1
*/
.ec-historyRole{
  display: flex;
  & &__header{
    width: 33.3333%;
  }
  & &__detail{
    width: 66.6666%;
  }

}

/*
注文履歴一覧ヘッダ

注文履歴一覧で使用するヘッダのコンポーネントを定義します。

ex [マイページ　注文履歴一覧ヘッダ](http://demo3.ec-cube.net/mypage)
(要ログイン)

Markup:
include /assets/tmpl/elements/16.1.history.pug
+ec-historyHeader

Styleguide 16.1.1
*/
.ec-historyListHeader{
  & &__date{
    font-weight: bold;
    font-size: 1.2em;
  }
}

