@import "../mixins/media";
@import "../mixins/projects";

/*
注文履歴一覧

マイページ 注文履歴部に関する Project コンポーネントを定義します。

ex [マイページ　注文履歴一覧](http://demo3.ec-cube.net/mypage)
(要ログイン)

Markup:
include /assets/tmpl/elements/16.1.history.pug
+ec-historyRole

Styleguide 16.1
*/
.ec-historyRole{
  @include container;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 16px;
  display: block;
  @include media_desktop {
    display: flex;
  }
  & &__header{
    @include media_desktop {
      width: 33.3333%;
    }
  }
  & &__detail{
    @include media_desktop {
      width: 66.6666%;
      border:none;
    }
    width: 100%;
    border-top: 0.1px dotted #ccc;
    padding: 10px 0;
  }

}

/*
注文履歴一覧ヘッダ

注文履歴一覧で使用するヘッダのコンポーネントを定義します。

ex [マイページ　注文履歴一覧ヘッダ](http://demo3.ec-cube.net/mypage)
(要ログイン)

Markup:
include /assets/tmpl/elements/16.1.history.pug
+ec-historyHeader

Styleguide 16.1.1
*/
.ec-historyListHeader{
  & &__date{
    font-weight: bold;
    font-size: 1.2em;
  }
  & &__action{
    margin : 16px 0;
  }
}

