/*
住所一覧

カート 注文詳細 に関する Project コンポーネントを定義します。

ex. マイページ内 お届け先編集
http://demo3.ec-cube.net/mypage/delivery

Markup:
.ec-addressRole
  .ec-addressRole__actions
    a.ec-inlineBtn 新規お届け先を追加する
  .ec-addressRole__items
    each item in ["","",""]
      .ec-addressRole__item
        sg-insert 17.1.1

sg-wrapper:
<div class="ec-addressRole">
  <sg-wrapper-content/>
</div>

Styleguide 17.1

*/
.ec-addressRole{
  & &__item{
    border-top: 1px dotted #ccc;
  }

}

/*
住所一覧リスト

カート 注文詳細 に関する Project コンポーネントを定義します。

ex. マイページ内 お届け先編集
http://demo3.ec-cube.net/mypage/delivery

markup:
.ec-addressList
  .ec-addressList__item
    .ec-addressList__remove
      .ec-icon
        svg(viewbox='0 0 360 360')
          path(d='M337.572,293.77L223.65,179.85L337.572,65.928c3.547-3.546,3.163-9.678-0.855-13.7l-29.095-29.093  c-4.022-4.021-10.153-4.402-13.7-0.856L180,136.199L66.08,22.279c-3.547-3.547-9.681-3.165-13.702,0.856L23.286,52.228  c-4.02,4.022-4.404,10.154-0.857,13.7L136.35,179.85L22.429,293.77c-3.547,3.545-3.163,9.678,0.857,13.701l29.093,29.092  c4.021,4.023,10.155,4.406,13.702,0.857L180,223.499L293.92,337.42c3.548,3.549,9.679,3.166,13.701-0.857l29.095-29.092  C340.735,303.448,341.121,297.315,337.572,293.77z')
    .ec-addressList__address
      div 後藤 知宏
      div 〒541-0057　大阪府大阪市中央区北久宝寺町1-4-11
      div 090-0000-0000
    .ec-addressList__action
      a(href="").ec-inlineBtn 変更


Styleguide 17.1.1

*/
.ec-addressList{
  & &__item{
    display: table;
    width: 100%;
    position: relative;
  }
  & &__remove{
    display: table-cell;
    vertical-align: middle;
    padding: 16px;
    text-align: center;
  }
  & &__address{
    display: table-cell;
    vertical-align: middle;
    padding: 16px;
    margin-right:4em;
  }
  & &__action{
    position: absolute;
    vertical-align: middle;
    top: 0;
    right: 0;
  }

}