/*
パスワードリセット

カート 注文詳細 に関する Project コンポーネントを定義します。

http://demo3.ec-cube.net/forgot

(カート内に商品がある状態でアクセス)

Markup:
.ec-fogotRole
  .ec-pageHeader
    h1 パスワードの再発行
  .ec-off1Grid
    .ec-off1Grid__cell
      p ご登録時のメールアドレスを入力して「次へ」ボタンをクリックしてください。
      p ※新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなります。
      .ec-fogotRole__input
        p メールアドレス
        p: .ec-input
          input(type="text")
  .ec-off4Grid
    .ec-off4Grid__cell
      .ec-blockBtn--action 次のページへ


Styleguide 18.1

*/
.ec-forgotRole{

}