/*
ボタン色

ボタン色

一旦このセクションは破棄

//Styleguide 2.2
*/

/*
ボタン色（緑）

http://demo3.ec-cube.net/

Markup:
.ec-button hoge

//Styleguide 2.2.4
*/

/*
ボタン色（赤）

http://demo3.ec-cube.net/products/detail/30

Markup:
.ec-button hoge

//Styleguide 2.2.5
*/

/*
ボタン色（黒）

http://demo3.ec-cube.net/products/detail/30

Markup:
.ec-button hoge

//Styleguide 2.2.6
*/

/*
ボタン色（グレー）

http://demo3.ec-cube.net/contact

Markup:
.ec-button hoge

//Styleguide 2.2.7
*/