/*
その他

その他

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 2.3
*/

/*
☓ボタン

ex [ログイン画面　☓ボタン部分](http://demo3.ec-cube.net/mypage/login)

Markup:
.ec-button hoge

Styleguide 2.3.9
*/

/*
☓ボタン（丸型）

ex [お届け先編集画面　☓ボタン部分](http://demo3.ec-cube.net/mypage/delivery)

Markup:
.ec-button hoge

Styleguide 2.3.10
*/