/*
その他

その他

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 2.3
*/

/*
☓ボタン

http://demo3.ec-cube.net/mypage/login

Markup:
.ec-button hoge

Styleguide 2.3.9
*/

/*
☓ボタン（丸型）

http://demo3.ec-cube.net/mypage/delivery

Markup:
.ec-button hoge

Styleguide 2.3.10
*/