/*
フォームレイアウト

Styleguide 3.3
*/

/*
フォームレイアウト

ex [お問い合わせページ](http://demo3.ec-cube.net/contact)

Markup:
.ec-complex hoge

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 3.3.1
*/

/*
ラベル

フォーム要素で利用するラベル要素です。

必須要素には .ec-required クラスを使用します。

ex [お問い合わせページ　ラベル部分](http://demo3.ec-cube.net/contact)

Markup:
.ec-borderedDefs
  dl
    dt
      label.ec-label お名前
    dd
      .ec-halfInput
        input(type="text")

Styleguide 3.3.2
*/
.ec-label{
  font-weight: bold;
}
.ec-required{
  color: #DE5D50;
  margin-left: 1em;
  font-size: 12px;
}

/*
必須ラベル

ex [お問い合わせページ　必須ラベル部分](http://demo3.ec-cube.net/contact)

Markup:
.ec-borderedDefs
  dl
    dt
      label.ec-label お名前
      span.ec-required 必須
    dd
      .ec-halfInput
        input(type="text")

Styleguide 3.3.3
*/

