/*
ヘッダー

ヘッダー

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 6.1
*/

/*
タイトルA

http://demo3.ec-cube.net/

Markup:
.ec-grid hoge

Styleguide 6.1.1
*/

/*
検索フォーム

http://demo3.ec-cube.net/

Markup:
.ec-grid hoge

Styleguide 6.1.3
*/