/*
商品バナー

商品バナー

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 7.1
*/

/*
商品アイテム（商品紹介B）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
.ec-grid3
  each item in ["","",""]
    .ec-grid3__cell
      .ec-displayB
        .ec-displayB__img
          img(src="http://demo3.ec-cube.net/template/default/img/top/img03.jpg")
        .ec-displayB__catch お気に入りのエスプレッソタイム
        .ec-displayB__comment コーヒータイムを上質な時間にしてくれる、口当たりのよさとデザイン性を兼ね備えたエスプレッソカップを集めました・・・
        .ec-displayB__link read more

Styleguide 7.1.1
*/
.ec-displayB{
  & &__catch{
    font-weight: bold;
    color: #9a947e;
  }
  & &__link{
    font-weight: bold;
    color: #9a947e;
  }

}

/*
商品アイテム（商品紹介C）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
.ec-grid4
  each item in ["","","",""]
    .ec-grid4__cell
      .ec-displayC
        .ec-displayC__img
          img(src="http://demo3.ec-cube.net/upload/save_image/0701104933_5593472d8d179.jpeg")
        .ec-displayC__catch 足の透かし模様が美しいミニテーブル
        .ec-displayC__title ミニテーブル
        .ec-displayC__price--sp ¥ 1,785

Styleguide 7.1.2
*/

.ec-displayC{
  & &__catch{
    font-weight: bold;
    color: #9a947e;
  }
  & &__price{
    font-weight: bold;
  }
  & &__price--sp{
    font-weight: bold;
    color: red;
  }
}


/*
商品アイテム（商品紹介D）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
.ec-grid6
  each item in ["","","","","",""]
    .ec-grid6__cell
      .ec-displayD
        .ec-displayD__img
          img(src="http://demo3.ec-cube.net/upload/save_image/0701104933_5593472d8d179.jpeg")

Styleguide 7.1.3
*/

/*
商品アイテム（商品一覧）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
.ec-grid4
  each item in ["","","",""]
    .ec-grid4__cell
      .ec-shelf
        .ec-shelf__img
          img(src="http://demo3.ec-cube.net/upload/save_image/0701122303_55935d17278d6.jpeg")
        .ec-shelf__title ミニサボテン
        .ec-shelf__price ¥ 876


Styleguide 7.1.4
*/