/*
商品掲載

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 7.1
*/

/*
商品アイテム（商品紹介B）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/7.1.itembanner.pug
+ec-displayB

Styleguide 7.1.1
*/
.ec-displayB{
  & &__catch{
    font-weight: bold;
    color: #9a947e;
  }
  & &__link{
    font-weight: bold;
    color: #9a947e;
  }

}

/*
商品アイテム（商品紹介C）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/7.1.itembanner.pug
+ec-displayC

Styleguide 7.1.2
*/

.ec-displayC{
  & &__catch{
    font-weight: bold;
    color: #9a947e;
  }
  & &__price{
    font-weight: bold;
  }
  & &__price--sp{
    font-weight: bold;
    color: red;
  }
}


/*
商品アイテム（商品紹介D）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/7.1.itembanner.pug
+ec-displayD

Styleguide 7.1.3
*/

/*
商品アイテム（商品一覧）

TODO リンク設定
TODO レスポンシブ修正

ex [トップページ　商品紹介部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/7.1.itembanner.pug
+ec-shelf


Styleguide 7.1.4
*/