@import "../mixins/variables";
@import "../mixins/media";
/*
カート

ショッピングカートに関するスタイルです。

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 7.3
*/

/*
カートヘッダ

購入完了までの手順や、現在の状態を表示します。

ul 要素を用いたリスト要素としてマークアップします。

ex [カートページ　ヘッダ部分](http://demo3.ec-cube.net/cart)

Markup:
include /assets/tmpl/elements/7.3.cart.pug
+ec-progress

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>

Styleguide 7.3.1
*/
.ec-progress{
  & &__item{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
  & &__number{
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    font-size: 1.2rem;
    background: #525263;
    color: #fff;
    top: 0;
    left: 18px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    @include media_desktop(){
      line-height: 42px;
      width: 42px;
      height: 42px;
      font-size: 20px;
      font-size: 2rem;
    }
  }
}



/*
カートナビゲーション

ex [カートページ　ナビゲーション部分](http://demo3.ec-cube.net/cart)

Markup:
.ec-cartNavi
  .ec-cartNavi__icon
  .ec-cartNavi__badge 1
  .ec-cartNavi__label
    | 合計
    .ec-cartNavi__price ¥1920

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>


Styleguide 7.3.5
*/
.ec-cartNavi{
  border: 1px solid #D9D9D9;
  width: 256px;
  position: relative;
  display: block;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 3;
  cursor: pointer;
  & &__icon{

  }
  & &__badge{
    position: relative;
    left: 15px;
    top: 0;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #DE5D50;
    border-radius: 10px;
  }
  & &__label{
    font-size: 12px;
    position: absolute;
    right:0;
    top:0;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    margin-right: 16px;
  }
  & &__price{
    display: inline-block;
    font-size: 16px;


  }
}

/*
総計

ex [カートページ　統計部分](http://demo3.ec-cube.net/cart)

Markup:
include /assets/tmpl/elements/7.3.cart.pug
+ec-totalBox

Styleguide 7.3.6
*/
.ec-totalBox{
  background:#F3F3F3;
  padding: 16px;
  & &__spec{
    position: relative;
    margin-bottom:8px;
    dt{
      position: relative;
      top:0;
      left: 0;
      text-align: left;
    }
    dd{
      position: absolute;
      top:0;
      right: 0;
      text-align: right;

    }
  }
  & &__total{
    border-top: 1px dotted #ccc;
    text-align: right;
  }
  & &__price{
    font-size: 2em;
  }
}


