@import "../mixins/variables";
@import "../mixins/media";
@import "../mixins/animation";
/*
カート

ショッピングカートに関するスタイルです。

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 7.3
*/

/*
カートヘッダ

購入完了までの手順や、現在の状態を表示します。

ul 要素を用いたリスト要素としてマークアップします。

ex [カートページ　ヘッダ部分](http://demo3.ec-cube.net/cart)

Markup:
include /assets/tmpl/elements/7.3.cart.pug
+ec-progress

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>

Styleguide 7.3.1
*/
.ec-progress{
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 600px;
  list-style: none;

  & &__item{
    display:table-cell;
    position: relative;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      display: block;
      background: #525263;
      width: 100%;
      height: 0.25em;
      top: 1.25em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1;
    }
    &:last-child:after {
      display: none;
    }
  }
  & &__number{
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    background: #525263;
    color: #fff;
    top: 0;
    left: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    @include media_desktop(){
      line-height: 42px;
      width: 42px;
      height: 42px;
      font-size: 20px;
    }
  }
  .is-complete {
    .ec-progress__number {
      background: #5CB1B1;
    }
    .ec-progress__label {
      color: #5CB1B1;
    }
  }
}



/*
カートナビゲーション

ex [カートページ　ナビゲーション部分](http://demo3.ec-cube.net/cart)

Markup:
include /assets/tmpl/elements/11.2.header.pug
+ec-headerCart

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>


Styleguide 7.3.5
*/
.ec-cartNavi{
  border: 1px solid #D9D9D9;
  width: 256px;
  position: relative;
  display: block;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 3;
  cursor: pointer;
  & &__icon{
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 8px;
    fill: #525263;
    @include fadeIn(inline-block,200ms);
  }
  & &__iconClose {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    fill: #525263;
    @include fadeOut(200ms);
  }
  & &__badge{
    position: relative;
    left: 13px;
    top: -6px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #DE5D50;
    border-radius: 10px;
    @include fadeIn(inline-block);
  }
  & &__label{
    font-size: 12px;
    position: absolute;
    right:0;
    top:0;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    margin-right: 16px;
  }
  & &__price{
    display: inline-block;
    font-size: 16px;
  }
}
.is_active {
  .ec-cartNavi__icon{
    @include fadeOut;
  }
  .ec-cartNavi__badge{
    display: none;
  }
  .ec-cartNavi__iconClose {

    @include fadeIn(inline-block,200ms);
  }
}

.ec-cartNaviNull {
  min-width: 256px;
  text-align: center;
  background: #f3f3f3;
  box-sizing: border-box;
  padding: 16px;
  z-index: 3;
  position: absolute;
  @include fadeOut;
  & &__message {
    border: 1px solid #D9D9D9;
    padding: 16px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #F99;
    p {
      margin: 0;
    }
  }
}

.is_active {
  .ec-cartNaviNull {
    @include fadeIn;
    display: block;
  }
}

/*
総計

ex [カートページ　統計部分](http://demo3.ec-cube.net/cart)

Markup:
include /assets/tmpl/elements/7.3.cart.pug
+ec-totalBox

Styleguide 7.3.6
*/
.ec-totalBox{
  background:#F3F3F3;
  padding: 16px;
  & &__spec{
    position: relative;
    margin-bottom:8px;
    dt{
      font-weight: normal;
      position: relative;
      top:0;
      left: 0;
      text-align: left;
    }
    dd{
      position: absolute;
      top:0;
      right: 0;
      text-align: right;

    }
    & &__specTotal {
      color: $clrRed;
    }
  }
  & &__total{
    padding: 8px 0;
    border-top: 1px dotted #ccc;
    text-align: right;
    font-size: 14px;
    font-weight:bold;
  }
  & &__price{
    margin-left: 16px;
    font-size: 24px;
    font-weight:bold;
    color: $clrRed;
  }
  & &__taxLabel {
    margin-left: 8px;
    color: $clrRed;
    font-size: 14px;
  }
  & &__btn {
    .ec-blockBtn--action {
      font-size: 16px;
      font-weight: bold;
    }
  }
}