/*
お知らせ

新着情報やバナーなどの掲載項目を紹介していきます。

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>
</div>

Styleguide 8.1
*/

/*
新着情報

新着情報の掲載をします。

ex [トップページ　新着情報部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/8.1.info.pug
+ec-news

Styleguide 8.1.1
*/
.ec-news {
  margin-bottom: 32px;
  background: #F8F8F8;
  & &__title{
    font-weight: bold;
    padding: 16px;
    font-size: 24px;
  }
  & &__items{
    list-style: none;
    padding: 16px;
    border-top: 1px solid #ccc;
  }
}
/*
折りたたみ項目

折りたたみ項目を掲載します。

ex [トップページ　折りたたみ項目部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/8.1.info.pug
+ec-newsline

Styleguide 8.1.2
*/
.ec-newsline {
  display: flex;
  flex-wrap:wrap;
  & &__date{
    width: 20%;
  }
  & &__comment{
    width: 76%;
  }
  & &__close{
    .ec-closeBtn--circle {
      width: 25px;
      height: 25px;
      min-width: 25px;
      min-height: 25px;
    }
    .ec-closeBtn--circle__icon {
      top: 20%;
    }
  }
  & &__description{
    width: 100%;
    display: none;
  }

  &.is_active &__description{
    display: block;
  }




}


/*
バナー

バナー形式でお知ら情報を伝える際の背景つきボックスです。

ex [トップページ　バナー部分](http://demo3.ec-cube.net/)

Markup:
include /assets/tmpl/elements/8.1.info.pug
+ec-banner

Styleguide 8.1.3
*/
.ec-banner{
  padding: 16px;
  background: #F8F8F8;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
  & &__intro {
    color: #DE5D50;
    font-size: 20px;
    font-weight: bold;
  }
  & &__title {
    color: #DE5D50;
    font-size: 32px;
    font-weight: bold;
  }
}
