/*
バナー

バナー

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 8.2
*/


/*
バナー

バナー

ex [トップページ　バナー部分](http://demo3.ec-cube.net/)

Markup:
.ec-newsbanner hoge

Styleguide 8.2.1
*/

/*
スライダー

スライダー

ex [トップページ　スライダー部分](http://demo3.ec-cube.net/)

Markup:
.ec-newsbanner hoge

Styleguide 8.2.2
*/