/*
バナー

バナー

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 8.2
*/


/*
バナー

バナー

http://demo3.ec-cube.net/

Markup:
.ec-newsbanner hoge

Styleguide 8.2.1
*/

/*
スライダー

スライダー

http://demo3.ec-cube.net/

Markup:
.ec-newsbanner hoge

Styleguide 8.2.2
*/