@import "../mixins/projects";
/*
マイページ

マイページで利用される

sg-wrapper:
<div class="ec-role">
  <sg-wrapper-content/>


Styleguide 9.1
*/

/*
マイページ

マイページで表示するメニューリストです。

ul を利用したリスト要素で記述します。

ex [マイページ　メニューリスト部分](http://demo3.ec-cube.net/mypage)

Markup:
ul.ec-navlist
  li.ec-navlist__item: a(href="#") ご注文履歴
  li.ec-navlist__item: a(href="#") お気に入り一覧
  li.ec-navlist__item: a(href="#") 会員情報編集
  li.ec-navlist__item: a(href="#") お届け先編集
  li.ec-navlist__item: a(href="#") 退会手続き

Styleguide 9.1.1
*/
.ec-navlist{
  @include reset_link;
  border-color: #D0D0D0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  list-style: none;
  display: flex;
  padding: 0;
  & &__item{
    width: 50%;
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    text-align: center;
    padding: 16px;
  }
}

/*
Welcome メッセージ

マイページで表示するログイン名の表示コンポーネントです。

ex [マイページ　メニューリスト下部分](http://demo3.ec-cube.net/mypage)

Markup:
.ec-welcomeMsg ようこそ ／ 球部 太郎 様

Styleguide 9.1.2
*/
.ec-welcomeMsg{
  text-align: center;
  margin: 1em 0;
  padding: 1em 0 ;
  @include borderBottom;

}