extends /assets/tmpl/moc/guest/_layout


block content
  .ec-role
    .ec-pageHeader
      h1 当サイトについて
    .ec-off1Grid
      .ec-off1Grid__cell
        .ec-borderedDefs
          dl
            dt 店名
            dd EC-CUBE3 DEMO SHOP
          dl
            dt 会社名
            dd
          dl
            dt 所在地
            dd 〒-
          dl
            dt 電話番号
            dd --
          dl
            dt FAX番号
            dd --
          dl
            dt 取扱商品
            dd
          dl
            dt メッセージ
            dd