extends /assets/tmpl/moc/guest/_layout.pug

include /assets/tmpl/elements/6.3.login.pug
include /assets/tmpl/elements/15.1.cart.pug
include /assets/tmpl/elements/15.2.order.pug

block content
    .ec-role
        .ec-pageHeader
            h1 ご注文内容のご確認
    +b.ec-cartRole
        +e.progress
            +ec-progress
    +ec-orderRole



