extends /assets/tmpl/moc/guest/_layout.pug

include /assets/tmpl/elements/9.1.mypage.pug

block content
    .ec-role
        .ec-pageHeader
            h1 マイページ/ご注文履歴詳細
        +ec-navlist
        +ec-welcomeMsg
    .ec-role
        p ご注文履歴がありません。

