extends /assets/tmpl/moc/guest/_layout.pug


block pageHeader
    include /assets/tmpl/elements/13.1.searchnav.pug
    +ec-searchnavRole__topicpath
block content
    include /assets/tmpl/elements/13.1.searchnav.pug
    +ec-searchnavRole__info
    include /assets/tmpl/elements/13.2.shelf.pug
    +b.ec-shelfRole
        +ec-shelfGrid
    include /assets/tmpl/elements/13.3.pager.pug
    +ec-pagerRole




