extends /assets/tmpl/moc/guest/_layout.pug

block content
    .ec-role
        .ec-pageHeader
            h1 マイページ/ご注文履歴詳細
        include /assets/tmpl/elements/9.1.mypage.pug
        +ec-navlist
        +ec-welcomeMsg
    include /assets/tmpl/elements/16.2.historyDetail.pug
    +ec-historyDetailRole



