extends /assets/tmpl/moc/guest/_layout


block content
  .ec-role
    .ec-pageHeader
      h1 特定商取引法に基づく表記
    .ec-off1Grid
      .ec-off1Grid__cell
        .ec-borderedDefs
          dl
            dt 販売業者
            dd
          dl
            dt 運営責任者
            dd
          dl
            dt 住所
            dd 〒-
          dl
            dt 電話番号
            dd --
          dl
            dt メールアドレス
            dd --
          dl
            dt URL
            dd
          dl
            dt 商品以外の必要代金
            dd
          dl
            dt 注文方法
            dd
          dl
            dt 支払方法
            dd
          dl
            dt 支払期限
            dd
          dl
            dt 引渡し時期
            dd
          dl
            dt 返品・交換について
            dd