extends /assets/tmpl/moc/guest/_layout


block content
    .ec-role
        .ec-pageHeader
            h1 新規会員登録確認
        .ec-off1Grid
            .ec-off1Grid__cell
                p 下記の内容で送信してもよろしいでしょうか？
                    br
                    | よろしければ、一番下の「会員登録をする」ボタンをクリックしてください。
                .ec-borderedDefs
                    dl
                        dt お名前
                        dd ほげ ほげ子
                    dl
                        dt お名前(フリガナ)
                        dd ガ フリガ
                    dl
                        dt 会社名
                        dd 〒-
                    dl
                        dt 住所
                        dd --
                    dl
                        dt 電話番号
                        dd --
                    dl
                        dt FAX番号
                        dd
                    dl
                        dt メールアドレス
                        dd
                    dl
                        dt パスワード
                        dd
                    dl
                        dt 生年月日
                        dd
                    dl
                        dt 性別
                        dd
                    dl
                        dt 職業
                        dd