extends /assets/tmpl/moc/guest/_layout.pug

include /assets/tmpl/elements/9.1.mypage.pug
include /assets/tmpl/elements/19.1.register.pug
block content
    .ec-role
        .ec-pageHeader
            h1 マイページ/お届け先編集

        +ec-navlist
        +ec-welcomeMsg
    .ec-role
        +ec-registerAddress



